$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Set/2012 - Aniversário Luiz Henrique</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/aniversario_luiz_henrique/001.jpg" title="Aniversário do Bambino Luiz Henrique" class="lightbox" target="_blank"><img src="/static/images/eventos/aniversario_luiz_henrique/001_thumb.jpg" alt="Aniversário do Bambino Luiz Henrique" title="Aniversário do Bambino Luiz Henrique" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/aniversario_luiz_henrique/002.jpg" title="Aniversário do Bambino Luiz Henrique" class="lightbox" target="_blank"><img src="/static/images/eventos/aniversario_luiz_henrique/002_thumb.jpg" alt="Aniversário do Bambino Luiz Henrique" title="Aniversário do Bambino Luiz Henrique" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/aniversario_luiz_henrique/003.jpg" title="Aniversário do Bambino Luiz Henrique" class="lightbox" target="_blank"><img src="/static/images/eventos/aniversario_luiz_henrique/003_thumb.jpg" alt="Aniversário do Bambino Luiz Henrique" title="Aniversário do Bambino Luiz Henrique" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/aniversario_luiz_henrique/004.jpg" title="Aniversário do Bambino Luiz Henrique" class="lightbox" target="_blank"><img src="/static/images/eventos/aniversario_luiz_henrique/004_thumb.jpg" alt="Aniversário do Bambino Luiz Henrique" title="Aniversário do Bambino Luiz Henrique" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
