$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Atividades Extras</h2>
    <h3>Ballet</h3>
    <h4>Objetivo</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">O Ballet é uma atividade que traz benefícios tanto no aspecto físico (postura, trabalho muscular, alongamento), quanto no social (disciplina, organização, atenção). De forma lúdica são apresentados valores que serão de extrema importância para a vida toda. É uma atividade inteligente que faz a criança pensar. Além disso, desperta o gosto pela arte ampliando a cultura das crianças desde cedo.</p>
    <h4>Outros Objetivos</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">desenvolver a orientação espacial, independência segmentária, esquema corporal, lateralidade, equilíbrio, coordenação dinâmica geral e coordenação motora fina.</p>
    <h4>Como Funciona</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">A aula é realizada com uso de músicas infantis e músicas clássicas. Utiliza-se o "faz-de-conta" para chamar a atenção e manter a concentração das crianças. Possui etapas de: aquecimento e alongamento, ritmo e musicalização, localização espacial e noção de grupo, salto e coordenação motora, e volta à calma (relaxamento ou história de bailarina). Dentro dessas etapas se desenvolve a introdução a técnica do ballet, o fortalecimento muscular, postura, disciplina, organização e atenção. Propõe-se uma aula rica em estímulos para que a criança possa desenvolver ao máximo suas potencialidades físicas e cognitivas.</p>
    <h4>Quem da Aula</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">Natália Birck Gazzo. Dança ballet desde os 4 anos de idade. Formada em ballet acadêmico pela Escola de Ballet Erenita Parmeggiani Teixeira – Canoas (2000), onde começou a lecionar desde então. Foi bailarina e professora do Ballet Vera Bublitz. Participou de diversos festivais de dança (São Leopoldo, Porto Alegre, Santa Maria, Bento Gonçalves) onde obteve premiações de 3°, 2° e 1° lugar. Graduada em dança pela Universidade Luterana do Brasil (ULBRA - 2009). É professora de educação física do Colégio Espírito Santo desde 2007, e já trabalhou em outras 8 escolas de educação infantil de Canoas. Trabalha na Escola de Educação Infantil Bambino Camponês desde 2005.</p>
    <h3>Capoeira</h3>
    <div class="photo_box" style="text-align:center;display:block;float:left;width:100%;margin:0px auto;margin-bottom:170px;">
        <a href="http://media.bambinocampones.com.br/images/eventos/esportes/lolo.jpg" title="Foto do mestre Lolo" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/esportes/lolo_thumb.jpg" alt="Foto do mestre lolo." title="Foto do mestre lolo." height="240px" width="320px" /></a>
        <br/>
        <span>Mestre Lolo.</span>
    </div>
    <h4>Objetivo</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">Desenvolver de forma lúdica e descontraída, a flexibilidade a coordenação motora e a resistência. Despertar as potencialidades na área musical e artística, ritmo, expressão corporal e motricidade fina (como berimbal, pandeiro e atabaque).</p>
    <h4>Como Funciona</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">Procedimento das aulas. Iniciamos com alongamento, após aquecimento, desenvolvimento e relaxamento no final (volta calma).</p>
    <h4>Quem da Aula</h4>
    <p style="width: 100%;margin-bottom:10px;margin-top:-10px;">Julio Cesar (mestrando Lolo). Pratico capoeira a 26 anos e trabalho com crianças a 18 anos (cursos de psicomotricidade, recreação e psicologia da criança, especialista em capoeira infantil).</p>
</div>
