$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Avisos Importantes</h2>
    <ul style="float:left;width:100%;background-color:#FFFDD6;">
        <li style="padding: 05px 0px;"><strong>NOVA DATA RECESSO: Recesso da escola de 21/12/2015 à 11/01/2016. Retorno às aulas dia 11/01/2016</strong>.</li>
        <li style="padding: 05px 0px;">O dia do brinquedo é toda <strong>Segunda-Feira</strong>.</li>
        <li style="padding: 05px 0px;">Na Seção de Pedagogia do nosso site encontram-se preciosas dicas de Piaget. <a href="/proposta-pedagogica" title="Proposta Pedagócia da Bambino Campones."><strong>Confira !</strong></a>.</li>
        <li style="padding: 05px 0px;">A criança que sair para atendimento médico ou outra atividade e não chegar até as 14:00 horas retorna somente no dia seguinte.</li>
        <li style="padding: 05px 0px;">Dás 11:00 às 13:00 - Almoço das crianças e professoras. Pedimos aos pais que neste período entrem em contato com a escola, somente em caso de <strong>URGÊNCIA</strong>.</li>
    </ul>
</div>
