$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Berçário</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <ul style="list-style: square;">
        <li>07:00 – 09:00 -> Entrada e troca de fraldas;</li>
        <li>09:00 – 09:30 -> Lanche ou mamadeira;</li>
        <li>09:30 – 10:00 -> Solárium;</li>
        <li>10:00 – 10:30 -> Brinquedos com músicas;</li>
        <li>10:30 – 11:00 -> Higiene e troca de fralda;</li>
        <li>11:00 – 12:00 -> Almoço e higiene;</li>
        <li>12:00 – 13:00 -> Descanso;</li>
        <li>13:00 – 14:00 -> Chegada e música;</li>
        <li>14:00 – 15:00 -> Troca de fralda e mamadeira;</li>
        <li>15:00 – 16:00 -> Pracinha;</li>
        <li>16:00 – 16:30 -> Brinquedos na sala de recreação;</li>
        <li>16:30 – 17:00 -> Troca de fralda;</li>
        <li>17:00 – 18:00 -> Pré-janta e higiene;</li>
        <li>18:00 – 19:00 -> Saída e DVD;</li>
    </ul>
    <p style="float: left;font-weight:bold;">OBS: Durante o dia ocorrem soninhos ocasionais.</p>
</div>
