$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Cardápio</h2>
    <p style="margin-bottom: 20px;">O Cardápio da Bambino Camponês é elaborado cuidadosamente para proporcionar uma alimentação rica e saudável, pois parte dos alimentos utilizados são produzidos de forma orgânica, no sítio do vovô Armando.</p>
    <!--
    <h3>Dezembro - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_dez_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_dez_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_dez_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_dez_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Novembro - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_nov_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_nov_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_nov_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_nov_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Outubro - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_out_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_out_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_out_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_out_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Setembro - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_set_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_set_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_set_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_set_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Agosto - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_ago_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_ago_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_ago_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_ago_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Julho - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_jul_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_jul_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_jul_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_jul_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Junho - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_jun_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01b_jun_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_jun_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_jun_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Maio - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_mai_2014.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01b_mai_2014.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_mai_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_mai_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Abril - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01_abr_2014.pdf" title="">Berçario 1</a> - <a href="/static/cardapios/bercario_02_abr_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_abr_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Março - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01_mar_2014.pdf" title="">Berçario 1</a> - <a href="/static/cardapios/bercario_02_mar_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_mar_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Fevereiro - 2014</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01_fev_2014.pdf" title="">Berçario 1</a> - <a href="/static/cardapios/bercario_02_fev_2014.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_fev_2014.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    -->
    <h3>Janeiro - 2015</h3>
    <div align="center">
        <a href="/static/cardapios/bercario_01a_jan_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="/static/cardapios/bercario_01_jan_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="/static/cardapios/bercario_02_jan_2015.pdf" title="">Berçario 2</a> - <a href="/static/cardapios/maiores_jan_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
</div>
