$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Cardápio</h2>
    <p style="margin-bottom: 20px;">O Cardápio da Bambino Camponês é elaborado cuidadosamente para proporcionar uma alimentação rica e saudável, pois parte dos alimentos utilizados são produzidos de forma orgânica, no sítio do vovô Armando.</p>
    <h3>Junho - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_jun_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_jun_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_jun_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_jun_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Maio - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_mai_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_mai_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_mai_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_mai_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Abril - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_abril_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_abril_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_abril_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_abril_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Março - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_mar_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_mar_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_mar_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_mar_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Fevereiro - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_fev_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_fev_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_fev_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_fev_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
    <h3>Janeiro - 2015</h3>
    <div align="center">
        <a href="http://media.bambinocampones.com.br/cardapios/bercario_01a_jan_2015.pdf" title="">Berçario 1 - Menores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_01_jan_2015.pdf" title="">Berçario 1 - Maiores 6 meses</a> - <a href="http://media.bambinocampones.com.br/cardapios/bercario_02_jan_2015.pdf" title="">Berçario 2</a> - <a href="http://media.bambinocampones.com.br/cardapios/maiores_jan_2015.pdf" title="">Crianças Maiores de 01 ano</a>
    </div>
</div>
