$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Depoimentos</h2>
    <p style="color: #333;width:100%;margin:0px;font-size: 22px;line-height: 30px;font-style:italic;">
        "A Bambino Camponês é uma excelente escola, comprometida com a educação de minha filha e com os mesmos valores familiares que transmitimos em casa a nossa filhinha."
    </p>
    <p style="font-weight:bold;width:100%;text-align:right;font-size:18px;">Leandro Severino</p>
    <p style="font-weight:normal;width:100%;text-align:left;font-size:18px;margin-bottom:20px;">Quer deixar o seu depoímento ?, então envie para bambinocampones@bol.com.br</p>
</div>
