$def with (imovel, fotos, mapa)

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS | Detalhamento do Imóvel: $:imovel.codigo
$var full_description: Detalhes do imóvel $:imovel.tipo_imovel em $:imovel.cidade/$:imovel.uf
$var keywords_tags: $:imovel.tipo_imovel

<h3>Detalhes do Imóvel</h3>
<ul id="menu_detalhamento">
    <li class="item_selected" id="item_detalhamento"><a href="#" onclick="return active_div('detalhamento');">Carateristicas</a></li>
    <li id="item_fotos"><a href="#" onclick="return active_div('fotos');">Fotos</a></li>
    <li id="item_localizacao"><a href="#" onclick="return active_div('localizacao');">Localização</a></li>
</ul>
<div id="detalhamento">
    <h4>Carateristicas</h4>
    <p>Código: $:imovel.codigo</p>
    <p>Venda: $:imovel.tipo_imovel</p>
    <p>Locação: $:imovel.tipo_imovel</p>
    <p>Comercial: $:imovel.tipo_imovel</p>
    <p>Residêncial: $:imovel.tipo_imovel</p>
    <p>Tipo: $:imovel.tipo_imovel</p>
    <p>Qtde Dormitórios: $:imovel.tipo_imovel</p>
    <p>Qtde Banheiros: $:imovel.tipo_imovel</p>
    <p>Obs: : $:imovel.tipo_imovel</p>
    <p>Tipo: $:imovel.tipo_imovel</p>
</div>
<div id="fotos">
    <link rel="stylesheet" href="http://media.bambinocampones.com.br/image-slideshow/css/image-slideshow.css" type="text/css">
    <script type="text/javascript" src="http://media.bambinocampones.com.br/image-slideshow/js/image-slideshow.js">
    /***********************************************************************************************
    
    Copyright (c) 2005 - Alf Magne Kalleland post@dhtmlgoodies.com
    
    UPDATE LOG:
    
    March, 10th, 2006 : Added support for a message while large image is loading
    
    Get this and other scripts at www.dhtmlgoodies.com
    
    You can use this script freely as long as this copyright message is kept intact.
    
    ***********************************************************************************************/ 
    </script>
    <h4>Fotos</h4>
    <div id="dhtmlgoodies_slideshow">
        <div id="galleryContainer">
            <div id="arrow_left"><img src="http://media.bambinocampones.com.br/image-slideshow/images/arrow_left.gif"></div>
            <div id="arrow_right"><img src="http://media.bambinocampones.com.br/image-slideshow/images/arrow_right.gif"></div>
            <div id="theImages">
                    <!-- Thumbnails -->
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image1_big.jpg','1');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image1.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image2_big.jpg','2');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image2.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image3_big.jpg','3');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image3.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image4_big.jpg','4');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image4.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image5_big.jpg','5');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image5.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image6_big.jpg','6');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image6.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image7_big.jpg','7');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image7.jpg"></a>       
                    <a href="#" onclick="showPreview('http://media.bambinocampones.com.br/image-slideshow/images/image8_big.jpg','8');return false"><img src="http://media.bambinocampones.com.br/image-slideshow/images/image8.jpg"></a>   
                    <!-- End thumbnails -->
                    
                    <!-- Image captions --> 
                    <div class="imageCaption">This is the caption of image number 1</div>
                    <div class="imageCaption">This is the caption of image number 2</div>
                    <div class="imageCaption">This is the caption of image number 3</div>
                    <div class="imageCaption">This is the caption of image number 4</div>
                    <div class="imageCaption">This is the caption of image number 5</div>
                    <div class="imageCaption">This is the caption of image number 6</div>
                    <div class="imageCaption">This is the caption of image number 7</div>
                    <div class="imageCaption">This is the caption of image number 8</div>
                    <!-- End image captions -->
                    
                    <div id="slideEnd"></div>
            </div>
        </div>
        <div id="previewPane">
            <img src="http://media.bambinocampones.com.br/image-slideshow/images/image1_big.jpg">
            <span id="waitMessage">Loading image. Please wait</span>    
            <div id="largeImageCaption">This is the caption of image number 1</div>
        </div>
    </div>
</div>
<div id="localizacao">
    <h4>Localização</h4>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAtSdK_HWclKtiasZ2ZdWb5BQwdr0LVcYqlcd480FSonsDcsdrYBSuNSPu2qi1iZPnjqLcMfPZiyfu7w" type="text/javascript"></script>
    <script type="text/javascript">
        function carregarMapa(latitude, longitude, endereco){
           if (GBrowserIsCompatible()){
             var map = new GMap2(document.getElementById("mapa"));
             map.addControl(new GSmallMapControl());
             map.addControl(new GMapTypeControl());
             map.setCenter(new GLatLng(latitude, longitude), 16);
             pontox = new GLatLng(latitude, longitude);
             var blueIcon = new GIcon(G_DEFAULT_ICON);
             blueIcon.image = "http://www.futurocraque.com.br/media/images/genio.ico";
            // Set up our GMarkerOptions object
             markerOptions = { icon:blueIcon };
             marcadorx = new GMarker(pontox, markerOptions);
             GEvent.addListener(marcadorx,"mouseover", function(){
                 marcadorx.openInfoWindowHtml(endereco);
             });
             map.addOverlay(marcadorx);
            }
        }
    </script>
    <div id="mapa" style="margin:02px;width: 75%; height: 320px;"></div>
</div>
<script type="text/javascript">
    function active_div(obj_div){
        obj_detalhamento=document.getElementById('detalhamento');
        item_detalhamento=document.getElementById('item_detalhamento');
        obj_fotos=document.getElementById('fotos');
        item_fotos=document.getElementById('item_fotos');
        obj_localizacao=document.getElementById('localizacao');
        item_localizacao=document.getElementById('item_localizacao');
        if (obj_detalhamento.id==obj_div){
            obj_detalhamento.style.display='block';
            item_detalhamento.style.backgroundColor='#de5900';
            obj_fotos.style.display='none';
            item_fotos.style.backgroundColor='#d4d4d4';
            obj_localizacao.style.display='none';
            item_localizacao.style.backgroundColor='#d4d4d4';
        } else if (obj_fotos.id==obj_div) {
            obj_detalhamento.style.display='none';
            item_detalhamento.style.backgroundColor='#d4d4d4';
            obj_fotos.style.display='block';
            item_fotos.style.backgroundColor='#de5900';
            obj_localizacao.style.display='none';
            item_localizacao.style.backgroundColor='#d4d4d4';
        } else {
            obj_detalhamento.style.display='none';
            item_detalhamento.style.backgroundColor='#d4d4d4';
            obj_fotos.style.display='none';
            item_fotos.style.backgroundColor='#d4d4d4';
            obj_localizacao.style.display='block';
            item_localizacao.style.backgroundColor='#de5900';
        }
        return false;
    }
    function onload() {
        obj_detalhamento=document.getElementById('detalhamento');
        obj_fotos=document.getElementById('fotos');
        obj_localizacao=document.getElementById('localizacao');
        obj_detalhamento.style.display='block';
        obj_fotos.style.display='none';
        obj_localizacao.style.display='none';
    }
    window.onload+=onload();
    window.onload+=carregarMapa('-29.922984309492843', '-51.18235733624573', 'Rua Alberto Torres, 130, Canoas, RS');
    window.onunload+=GUnload();
</script>
