$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Dicas</h2>
    <img src="/static/images/criancas_francesas_nao_fazem_manha.jpg" alt="" title=""  />
    <p>
        Uma jornalista americana vivendo em Paris resolve investigar quais são as diferenças na criação das crianças francesas que fazem com que elas pareçam tão mais calmas e educadas que as crianças americanas. Nos anos em que vive em Paris, Pamela engravida e passa a criar seus próprios filhos com algumas das premissas francesas de educação infantil. Ali, ela se percebe dividida entre seus próprios conceitos e aqueles adotados por essa nova cultura da qual ela e a família passam a fazer parte.
    </p>
</div>
