$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Dicas</h2>
    <img src="http://media.bambinocampones.com.br/images/criando_bebes_felizes.jpg" alt="" title=""  />
    <h3>Criando bebês felizes</h3>
    <p>Todo pai e mãe quer sempre dar o melhor para seu filho. Mas do que os bebês realmente precisam? Steve Biddulph analisa as necessidades fundamentais durante a infância e alerta os pais a darem maior atenção a seus filhos nos primeiros 3 anos de vida. Segundo ele, o valor mais importante nesta fase é o amor que deve ser demonstrado pelos pais participando ativamente da educação, dos estímulos dos sentidos e do desenvolvimento das crianças. O livro serve de alerta para os pais do mundo moderno, tão assoberbados com milhares de tarefas.</p>
</div>
