$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>História</h2>
    <p>Nossa história começou em 1999, com a necessidade
de um local adequado para deixar meu filho, na época com 3 (três) anos. Sem encontrar
nada que eu entendesse como um local ideal, resolvi convidar minha irmã para
cuidarmos de algumas crianças em casa, e ela aceitou. Fizemos as devidas mudanças na
casa em que eu morava, para isso tive que me mudar. A casa na época era de nosso pai.
Começamos a trabalhar no dia 03/02/1999 com uma criança, que era meu filho, ao final
da primeira semana estávamos com 3 (três), um menino e duas meninas. Ao término
do primeiro ano já contávamos com 11 (onze) crianças sob nosso cuidado. Fizemos
nosso primeiro passeio ao jardim zoológico em outubro do mesmo ano em homenagem
a semana da criança. Na volta do passeio todos participaram da primeira noite do pijama
com direito a banho, janta, ceia, brincadeiras e ao acordarem foi servido um belo café
da manhã. Festejamos nosso primeiro Natal com a montagem de uma árvore feita de
filtros de papel, colocada no refeitório e saudamos a vinda de papai Noel com nossos
bambinos a sua volta, a festa foi linda.</p>
    <p>No ano de 2000 (dois mil), a escola foi assaltada, sendo levados, os uniformes
das crianças e professores, merenda, mantimentos para as refeições, aparelhos
eletroeletrônicos, material didático e pedagógico. Recuperamos quase tudo através de
uma Festa Junina realizada pela comunidade. Tivemos a contribuição de cada família,
da escola ou não. Fechamos a rua e nos divertimos muito. Com o aumento da procura,
fizemos a primeira ampliação térrea. Passaram-se poucos anos, e precisamos novamente
ampliar. Neste momento fizemos o primeiro andar. Por um período de 6 (seis) anos,
atendemos a crianças conveniadas da prefeitura municipal de Canoas. Desde 2008 (dois
mil e oito) somos autorizadas e credenciadas pelo Conselho Municipal de Educação.
Novamente nos faltou espaço. Para onde ir? Fomos para o lado, pátio vizinho, com
mais 4 (quatro) salas de aula, banheiro e pátio. Atendemos, hoje, 95 (noventa e cinco)
crianças. Nosso corpo docente é composto por 16 (dezesseis) profissionais com
titulação, se não concluída em curso, exigida por lei, pedagoga, nutricionista, capoeirista
e professora de ballet. Todas as salas são bem arejadas e recebem a luz solar.</p>
    <p>Hoje nossa escola conta com uma estrutura física de 354 (trezentos e cinquenta e
quatro) m², sendo dividida em 10 (dez) salas, um refeitório, 5 (cinco) banheiros, áreas
de circulação, cozinha e pracinha.</p>
    <p>Somos muito felizes e realizadas, compramos nossos próprios imóveis, inclusive
o da empresa, sempre trabalhamos com muito amor e dedicação, por isso nossa
empresa é uma empresa de sucesso. Nossas festas de Natal hoje reúnem em média
450 (quatrocentos e cinquenta) pessoas. Agradecemos a nosso pai pelo inicio de tudo
isso, pois durante 7 (sete) anos nos apoiou e cedeu-nos o imóvel para trabalharmos,
onde hoje é a cede de nossa empresa. Temos muito a agradecer a Deus que mesmo em
momentos muito difíceis, nunca nos deixou esmorecer.</p>
    <p>“As manas”, como somos conhecidas hoje em nosso mercado de trabalho, só tem
a agradecer a confiança de todos os pais, que deixam conosco seu bem mais precioso.
Crianças de 04 (quatro) meses até 06 (seis) anos, que ficam sob nosso cuidado diário
e saem para seus compromissos com a certeza de que amamos a todos com se fossem
verdadeiramente nossos filhos.</p>
    <p>Para nós isto é um verdadeiro sucesso, pois fomos criadas na lavoura junto com
nossos pais e mais 3 (três) irmãos, somos de família muito humilde, mas que nunca teve
medo de trabalhar e ser feliz.</p>
    <p>Este é o resumo de nossa história, <strong>ontem um sonho, hoje uma realidade.</strong></p>
</div>
