$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2><span style="color:red;">Escola</span> -> Filosofia</h2>
    <p>Nossa escola atende há $:(2013 -1999) anos, alunos da Educação Infantil de faixa etária dos
    04 meses até aos 6 anos, pelos turnos da manhã e tarde. Temos como filosofia formar
    um cidadão crítico, participativo, solidário, comprometido com o contexto do país.
    Contamos com uma equipe de profissionais qualificados e material didático atualizado.
    Nosso objetivo é orientar, respeitando a individualidade de cada criança, como um
    cidadão em formação.</p>
    <p>Como primeira etapa da educação básica, a educação infantil, tem como
    finalidade o desenvolvimento das potencialidades da criança, até seis anos de idade,
    visando seus aspectos físico, psicológico, intelectual e social, complementando a ação
    da família e da comunidade.</p>
    <p>Oportunizamos aos nossos alunos à experimentação das diferentes formas de
    linguagem (oral e escrita), desenvolvendo assim, o raciocínio e a criatividade.</p>
</div>
