$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<style type="text/css">
#contentPanel { min-height: 650px !important; }
</style>

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Maio/2012 - Dia das Mães</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/001.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/001_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/002.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/002_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/003.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/003_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/004.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/004_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/005.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/005_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/006.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/006_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/007.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/007_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/008.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/008_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/009.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/009_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/010.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/010_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/011.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/011_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/012.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/012_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/013.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/013_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/014.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/014_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/015.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/015_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/016.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/016_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/017.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/017_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/018.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/018_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/019.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/019_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/020.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/020_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/021.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/021_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/022.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/022_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/dia_das_maes_2012/023.jpg" title="Dia das Mães 2012" class="lightbox" target="_blank"><img src="/static/images/eventos/dia_das_maes_2012/023_thumb.jpg" alt="Dia das Mães 2012" title="Dia das Mães 2012" height="85px" width="113px" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
