$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Fale Conosco</h2>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>Deixe o seu recado que em breve entraremos em contato.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="contato">
      <form id="contato_form" action="/fale-conosco" method="post" onsubmit="return valida_contato();">
          <span>Nome:</span>
          <input id="nome" title="Informe o seu nome." name="nome" type="text" size="50"/>
          <span>Telefone:</span>
          <input id="telefone" title="Informe o seu telefone." name="telefone" type="text"  size="50" />
          <span>E-mail:</span>
          <input id="email" title="Informe o seu e-mail." name="email" type="text" size="50" />
          <span>Mensagem:</span>
          <textarea id="mensagem" title="Deixe sua mensagem." cols="40" rows="10" name="mensagem"></textarea>
          <button style="width: 120px;" onclick="return valida_contato();" type="submit">Enviar</button>
      </form>
    </div>
</div>
