$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Vídeos</h2>
    <div align="center">
    <h3>A História da Páscoa</h3>
    <iframe width="640" height="480" src="http://www.youtube.com/embed/xNN2dUPcFvI" frameborder="0" allowfullscreen></iframe>
    <h3>O Bom Samaritano</h3>
    <iframe width="640" height="480" src="http://www.youtube.com/embed/RAgI7ZRpJgo" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
