$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galerias de Fotos</h2>
    <div id="galerias_panel">
        <div class="photo_box">
            <span class="red">Junho/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6037796519672198225?banner=pwa"
               title="Album Fotos Diversas Junho de 2014. - Junho/2014" target="_blank">
               <img src="https://lh4.googleusercontent.com/-_KkP6iDzFGo/U8qQFB8ZfaI/AAAAAAAAELI/r8hCS0jcr2g/w800-h533-no/GEDC9472.png"
                    alt="Foto de capa de Fotos Diversas Junho de 2014. - Junho/2014"
                    title="Album de fotos Diversas Junho de 2014. - Junho/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Diversas Junho de 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Junho/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6032387302282906609?banner=pwa"
               title="Album Fotos Festa Junina de 2014. - Maio/2014" target="_blank">
               <img src="https://lh6.googleusercontent.com/-zvXLM_L6rUo/U7dYY_TMpcI/AAAAAAAAEHs/q8cBFUtICG8/w828-h552-no/GEDC9409.JPG"
                    alt="Foto de capa de Fotos Festa Junina de 2014. - Junho/2014"
                    title="Album de fotos Festa Junina de 2014. - Junho/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Festa Junina de 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6022278589185378369?banner=pwa"
               title="Album Fotos Diversas - 2 de Maio 2014. - Maio/2014" target="_blank">
               <img src="https://lh4.googleusercontent.com/-8j0Bm5yYuG4/U5Nu6qo_5mI/AAAAAAAAEGE/7hovFgxUdsQ/w828-h552-no/GEDC9280.JPG"
                    alt="Foto de capa de Fotos Diversas - 2 de Maio 2014. - Maio/2014"
                    title="Album de fotos Fotos Diversas - 2 de Maio 2014. - Maio/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Diversas - 2 Maio de 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6019655269082422177?banner=pwa"
               title="Album de Aula de Culinária de Maio 2014. - Maio/2014" target="_blank">
               <img src="https://lh6.googleusercontent.com/-MaQR4-YO4do/U4ocm2kPh_I/AAAAAAAAEEA/DIke_XaP3f4/w897-h598-no/GEDC9241.JPG"
                    alt="Foto de capa de Aula de Culinária de Maio 2014. - Maio/2014"
                    title="Album de fotos Aula de Culinária de Maio 2014. - Maio/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Aula de Culinária de Maio 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6016983411372961793?banner=pwa"
               title="Album de fotos Diversas de Maio 2014. - Maio/2014" target="_blank">
               <img src="https://lh6.googleusercontent.com/-1E-TvruaPHQ/U4CexqFWuPI/AAAAAAAAEAs/A55-vyVAcp4/w897-h598-no/GEDC9114.JPG"
                    alt="Foto de capa de Diversas de Maio 2014. - Maio/2014"
                    title="Album de fotos Diversas de Maio 2014. - Maio/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Diversas Maio 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/6014457512105188369?banner=pwa"
               title="Album de fotos dia das Mães 2014. - Maio/2014" target="_blank">
               <img src="https://lh4.googleusercontent.com/-a2UMgtMEo5U/U3elYaL86hI/AAAAAAAAD50/W8oZAKPblpE/w441-h588-no/preparando+os+biscoitinhos+para+as+mamaes+%252816%2529.jpg"
                    alt="Foto de capa de dia das Mães 2014. - Maio/2014"
                    title="Album de fotos dia das Mães 2014. - Maio/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Obrigada mamães pelo carinho no preparo dos biscoitinhos</span>
        </div>
        <div class="photo_box">
            <span class="red">Março/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/5993459566497759153?banner=pwa"
               title="Album de fotos ballet Março 2014. - Março/2014" target="_blank">
               <img src="https://lh3.googleusercontent.com/-ZmWhb1T4Wvo/Uy0Lv_g9nAI/AAAAAAAAD3U/OoGYbrQxnaE/w757-h568-no/002.jpg"
                    alt="Foto de capa de ballet Março 2014. - Março/2014"
                    title="Album de fotos ballet Março 2014. - Março/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Ballet Março 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Março/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/5993445067916152433?banner=pwa"
               title="Album de fotos Carnaval 2014. - Março/2014" target="_blank">
               <img src="https://lh5.googleusercontent.com/-7iVd5zwAESU/Uyz-kuarLSI/AAAAAAAAD1E/CAfMudWykaY/w757-h568-no/003.jpg"
                    alt="Foto de capa de Carnaval 2014. - Março/2014"
                    title="Album de fotos Carnaval 2014. - Março/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Carnaval 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Fevereiro/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/5993451818331395985?banner=pwa"
               title="Album de fotos Diversas de Fevereiro 2014. - Fevereiro/2014" target="_blank">
               <img src="https://lh3.googleusercontent.com/-slZj3JxmmSk/Uy0E1PMTl5I/AAAAAAAAD2w/XCeqZNQdE_E/w800-h533-no/008.jpg"
                    alt="Foto de capa de Diversas de Fevereiro 2014. - Fevereiro/2014"
                    title="Album de fotos Diversas de Fevereiro 2014. - Fevereiro/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Diversas Fevereiro 2014</span>
        </div>
        <div class="photo_box">
            <span class="red">Janeiro/2014</span>
            <a href="https://plus.google.com/photos/114234974624158272289/albums/5993438686232703009?banner=pwa"
               title="Album de fotos Diversas de Janeiro 2014. - Janeiro/2014" target="_blank">
               <img src="https://lh6.googleusercontent.com/-9g30VfCKd34/Uyz4x3RTVHI/AAAAAAAAD0E/z6cbAphNqVM/w757-h568-no/001.jpg"
                    alt="Foto de capa de Diversas de Janeiro 2014. - Janeiro/2014"
                    title="Album de fotos Diversas de Janeiro 2014. - Janeiro/2014"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Fotos Diversas 2014</span>
        </div>
        <!--
        <div class="photo_box">
            <span class="red">Outubro/2013</span>
            <a href="/semana-crianca-2013"
               title="Album de fotos Semana das Crianças 2013. - Outubro/2013">
               <img src="https://lh5.googleusercontent.com/-xTvCflYgG70/UmcZVjs2oGI/AAAAAAAADps/BJPgtdtdwVs/w640-h480-no/Semana+da+Crian%25C3%25A7a19.jpg"
                    alt="Foto de capa de Semana das Crianças 2013. - Outubro/2013"
                    title="Album de fotos Semana das Crianças 2013. - Outubro/2013"
                    width="113px"
                    height="85px"/>
            </a>
            <span>Semana das Crianças 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Setembro/2013</span>
            <a href="/semana-farroupilha-2013" title="Album de fotos Semana Farroupilha 2013. - Setembro/2013"><img src="https://lh4.googleusercontent.com/-5SRCAcwZJN8/UkTM6jKXTaI/AAAAAAAADa8/lHuJD3aArns/w733-h550-no/Desfile+prenda-pe%25C3%25A3o+17-09-2013+%252812%2529.jpg" alt="Foto de capa de Semana Farroupilha 2013. - Setembro/2013" title="Album de fotos Semana Farroupilha 2013. - Setembro/2013" width="113px" height="85px"/></a>
            <span>Semana Farroupilha 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Agosto/2013</span>
            <a href="/dia-dos-pais-2013-maternal-1" title="Album de fotos Dia dos Pais 2013 - Maternal I. - Agosto/2013"><img src="https://lh3.googleusercontent.com/-sQA-ydsSzSI/UhKqEk0dYcI/AAAAAAAADSY/9INkwdSy-LY/w798-h532-no/_MG_7344.JPG" alt="Foto de capa de Dia dos Pais 2013 - Maternal I. - Agosto/2013" title="Album de fotos Dia dos Pais 2013 - Maternal I. - Agosto/2013" width="113px" height="85px"/></a>
            <span>Dia dos Pais 2013 -  Maternal I</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Agosto/2013</span>
            <a href="/dia-dos-pais-2013-maternal-2" title="Album de fotos Dia dos Pais 2013 - Maternal II. - Agosto/2013"><img src="https://lh3.googleusercontent.com/-t0xlOBtV13c/UgmI7JN8knI/AAAAAAAADQU/GiLLkcAoO2E/w798-h532-no/_MG_7067.JPG" alt="Foto de capa de Dia dos Pais 2013 - Maternal II. - Agosto/2013" title="Album de fotos Dia dos Pais 2013 - Maternal II. - Agosto/2013" width="113px" height="85px"/></a>
            <span>Dia dos Pais 2013 -  Maternal II</span>
        </div>
        <div class="photo_box">
            <span class="red">Agosto/2013</span>
            <a href="/dia-dos-pais-2013-jardim-b" title="Album de fotos Dia dos Pais 2013 - Jardim B. - Agosto/2013"><img src="https://lh6.googleusercontent.com/-DHFaE1XxNiM/UgT5O7R3XhI/AAAAAAAADNo/bOjCMJ2w1Ys/w836-h557-no/Homenagem+dia+dos+Pais+-+Jardim+B+%25282%2529.JPG" alt="Foto de capa de Dia dos Pais 2013 - Jardim B. - Agosto/2013" title="Album de fotos Dia dos Pais 2013 - Jardim B. - Agosto/2013" width="113px" height="85px"/></a>
            <span>Dia dos Pais 2013 -  Jardim B</span>
        </div>
        <div class="photo_box">
            <span class="red">Agosto/2013</span>
            <a href="/dia-dos-pais-2013-jardim-a" title="Album de fotos Dia dos Pais 2013 - Jardim A. - Agosto/2013"><img src="https://lh4.googleusercontent.com/-gMbCKeOgAts/UgT2LDC0RnI/AAAAAAAADKY/8XH_PGfCCvA/w836-h557-no/_MG_6842.JPG" alt="Foto de capa de Dia dos Pais 2013 - Jardim A. - Agosto/2013" title="Album de fotos Dia dos Pais 2013 - Jardim A. - Agosto/2013" width="113px" height="85px"/></a>
            <span>Dia dos Pais 2013 -  Jardim A</span>
        </div>
        <div class="photo_box">
            <span class="red">Julho/2013</span>
            <a href="/visita-patati-patata" title="Album de fotos Visita Patati Patata 2013. - Julho/2013"><img src="https://lh3.googleusercontent.com/-_DIg7KdZ0Zs/UgT0yl_oUYI/AAAAAAAADH8/FW05wcjhrv4/w835-h557-no/_MG_3592.JPG" alt="Foto de capa de fotos Visita Patati Patata 2013. - Julho/2013" title="Album de fotos Visita Patati Patata 2013. - Julho/2013" width="113px" height="85px"/></a>
            <span>Visita Patati Patata</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Maio/2013</span>
            <a href="/dia-das-maes-2013" title="Album de fotos Dia das Mães 2013. - Maio/2013"><img src="https://lh5.googleusercontent.com/-wURV0EE5P-U/UbZv0o254fI/AAAAAAAAAoM/KWQNKQr8n0A/w709-h532-no/DSCN5218.JPG" alt="Foto de capa de Dia das Mães 2013. - Maio/2013" title="Album de fotos Dia das Mães 2013. - Maio/2013" width="113px" height="85px"/></a>
            <span>Dia das Mães 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2013</span>
            <a href="/bambino-2013-03" title="Album de fotos Bambino 2013. - Março/2013"><img src="https://lh6.googleusercontent.com/-iKO-LfD4-8s/UcTP7LqWdLI/AAAAAAAAC-0/-jLWbxC8sHs/w709-h532-no/DSCN4518.JPG" alt="Foto de capa de Bambino 2013. - Maio/2013" title="Album de fotos Bambino 2013. - Maio/2013" width="113px" height="85px"/></a>
            <span>Bambino 2013 03</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2013</span>
            <a href="/bambino-2013-02" title="Album de fotos Bambino 2013. - Maio/2013"><img src="https://lh6.googleusercontent.com/-iiIEdTkLaiw/UcRj9EvEDGI/AAAAAAAAB6A/JXTUvLefMe4/w798-h532-no/GEDC8129.JPG" alt="Foto de capa de Bambino 2013. - Maio/2013" title="Album de fotos Bambino 2013. - Maio/2013" width="113px" height="85px"/></a>
            <span>Bambino 2013 02</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2013</span>
            <a href="/bambino-2013" title="Album de fotos Bambino 2013. - Maio/2013"><img src="https://lh3.googleusercontent.com/-XpaUSwT0_nQ/Ub-5JaERTcI/AAAAAAAABh0/Wwk6C8G5zrY/w798-h532-no/GEDC8045.JPG" alt="Foto de capa de Bambino 2013. - Maio/2013" title="Album de fotos Bambino 2013. - Maio/2013" width="113px" height="85px"/></a>
            <span>Bambino 2013</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Março/2013</span>
            <a href="/marco-2013" title="Album de fotos de Março 2013. - Março/2013"><img src="https://lh3.googleusercontent.com/-xk4_ZtqOvX4/UbZkYRos9mI/AAAAAAAAAYQ/GS9bJlwwSns/w709-h532-no/DSCN4532.JPG" alt="Foto de capa de Diversas 2013. - Março/2013" title="Album de fotos Diversas 2013. - Março/2013" width="113px" height="85px"/></a>
            <span>Diversas 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Março/2013</span>
            <a href="/marco-2013" title="Album de fotos de Março 2013. - Março/2013"><img src="https://lh4.googleusercontent.com/-BYglM4TizSU/UWF5IVjZdlI/AAAAAAAAAGU/HKLE6chUPn0/s705/DSCN4518.JPG" alt="Foto de capa do Março 2013. - Março/2013" title="Album de fotos Março 2013. - Março/2013" width="113px" height="85px"/></a>
            <span>Março 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Fevereiro/2013</span>
            <a href="/carnaval-2013" title="Album de fotos Carnaval 2013. - Fevereiro/2013"><img src="https://lh4.googleusercontent.com/-P88K0eWDJTc/URw0cRV_e8E/AAAAAAAAAF4/HuYwbfs0vBY/s144-c/Carnaval_2013.jpg" alt="Foto de capa do Carnaval 2013. - Fevereiro/2013" title="Album de fotos Carnaval 2013. - Fevereiro/2013" width="113px" height="85px"/></a>
            <span>Carnaval 2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Janeiro/2013</span>
            <a href="/aniversario-13-anos" title="Album de fotos Aniversário 13 Anos do Bambino. - Janeiro/2013"><img src="https://lh4.googleusercontent.com/-Kdf_aLDyrIg/URQ0Tn7yaeE/AAAAAAAAACc/yUggeGwZ-JE/s144-c/Aniversario13Anos.jpg" alt="Foto de capa do Album Aniversário 13 Anos do Bambino. - Janeiro/2013" title="Album de fotos Aniversário 13 Anos do Bambino. - Janeiro/2013" width="113px" height="85px"/></a>
            <span>Aniversário 13 Anos do Bambino</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Janeiro/2013</span>
            <a href="/obras-2012-2013" title="Album de fotos Obras 2012/2013. - Janeiro/2013"><img src="/static/images/eventos/obras_2012_2013/001_thumb.jpg" alt="Foto de capa do Album Obras 2012/2013. - Janeiro/2013" title="Album de fotos Obras 2012/2013. - Janeiro/2013"/></a>
            <span>Obras 2012/2013</span>
        </div>
        <div class="photo_box">
            <span class="red">Novembro/2012</span>
            <a href="/passeio-zoologico-2012" title="Album de fotos Passeio no zoológico. - Novembro/2012"><img src="/static/images/eventos/passeio_zoologico_2012/001_thumb.jpg" alt="Foto de capa do Album Passeio no zoológico. - Novembro/2012" title="Album de fotos Passeio no zoológico. - Novembro/2012"/></a>
            <span>Passeio no zoológico</span>
        </div>
        <div class="photo_box">
            <span class="red">Outubro/2012</span>
            <a href="/noite-pijama-2012" title="Album de fotos Noite do Pijama. - Outubro/2012"><img src="/static/images/eventos/noite_pijama_2012/001_thumb.jpg" alt="Foto de capa do Album Noite do Pijama. - Outubro/2012" title="Album de fotos Noite do Pijama. - Outubro/2012"/></a>
            <span>Noite do Pijama</span>
        </div>
        <div class="photo_box">
            <span class="red">Setembro/2012</span>
            <a href="/aniversario-luiz-henrique" title="Album de fotos Aniversário do Bambino Luiz Henrique. - Setembro/2012"><img src="/static/images/eventos/aniversario_luiz_henrique/001_thumb.jpg" alt="Foto de capa do Album Aniversário do Bambino Luiz Henrique. - Setembro/2012" title="Album de fotos Aniversário do Bambino Luiz Henrique. - Setembro/2012"/></a>
            <span>Aniversário Luiz Henrique</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Setembro/2012</span>
            <a href="/semana-farroupilha-2012" title="Album de fotos Semana Farroupilha. - Setembro/2012"><img src="/static/images/eventos/semana_farroupilha_2012/001_thumb.jpg" alt="Foto de capa do Album Semana Farroupilha. - Setembro/2012" title="Album de fotos Semana Farroupilha. - Setembro/2012"/></a>
            <span>Semana Farroupilha 2012</span>
        </div>
        <div class="photo_box">
            <span class="red">Agosto/2012</span>
            <a href="/nossas-refeicoes" title="Album de fotos Como são produzidos os alimentos de nossas refeições. - Agosto/2012"><img src="/static/images/eventos/agosto-2012_vovo_bambino/017_thumb.png" alt="Foto de capa do Album de Como são produzidos os alimentos de nossas refeições. - Agosto/2012" title="Album de fotos Como são produzidos os alimentos de nossas refeições. - Agosto/2012"/></a>
            <span>Como são cultivados os alimentos</span>
        </div>
        <div class="photo_box">
            <span class="red">Junho/2012</span>
            <a href="/construindo-com-sucata" title="Album de fotos Construindo com Sucata - Junho/2012"><img src="/static/images/eventos/construindo_com_sucata/001_thumb.jpg" alt="Foto de capa do Album de Construindo com sucata - Junho/2012" title="Album de fotos Construindo com Sucata - Junho/2012"/></a>
            <span>Construindo com Sucata</span>
        </div>
        <div class="photo_box">
            <span class="red">Junho/2012</span>
            <a href="/educacao-fisica-prof-nilton" title="Album de fotos Educação Física Professor Nilton - Junho/2012"><img src="/static/images/eventos/educaco_fisica_prof_nilton/001_thumb.jpg" alt="Foto de capa do Album de Educação Física Professor Nilton - Junho/2012" title="Album de fotos Educação Física Professor Nilton - Junho/2012"/></a>
            <span>Educação Física com Professor Nilton</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Junho/2012</span>
            <a href="/nosso-dia-a-dia" title="Album de fotos Nosso dia à dia - Junho/2012"><img src="/static/images/eventos/nosso_dia_a_dia/001_thumb.jpg" alt="Foto de capa do Album de Nosso dia à dia - Junho/2012" title="Album de fotos Nosso dia à dia - Junho/2012"/></a>
            <span>Nosso dia à dia</span>
        </div>
        <div class="photo_box">
            <span class="red">Junho/2012</span>
            <a href="/nossos-pequenos-bambinos" title="Album de fotos Nossos pequenos bambinos - Junho/2012"><img src="/static/images/eventos/nossos_pequenos_bambinos/001_thumb.jpg" alt="Foto de capa do Album de Nossos pequenos bambinos - Junho/2012" title="Album de fotos Nossos pequenos bambinos - Junho/2012"/></a>
            <span>Nossos pequenos bambinos</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/que-visitinha-gostosa-da-mamae" title="Album de fotos Visitinha Gostosa da Mamãe - Maio/2012"><img src="/static/images/eventos/diversas_maio/visitinha_gostosa_da_mamae_01_thumb.jpg" alt="Foto de capa do Album de fotos da Visitinha Gostosa da Mamãe - Maio/2012" title="Album de fotos da Visitinha Gostosa da Mamãe - Maio/2012"/></a>
            <span>Que visitinha Gostosa da Mamãe</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/piquenique-gostoso" title="Album de fotos do Piquenique Gostoso - Maio/2012"><img src="/static/images/eventos/diversas_maio/piquenique_gostoso_thumb.jpg" alt="Foto de capa do Album de fotos do Piquenique Gostoso - Maio/2012" title="Album de fotos do Piquenique Gostoso - Maio/2012"/></a>
            <span>Piquenique Gostoso</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/teatro-na-escola" title="Album de fotos do Teatro na Escola - Maio/2012"><img src="/static/images/eventos/teatro_na_escola/001_thumb.jpg" alt="Foto de capa do Album de fotos do Teatro na Escola - Maio/2012" title="Album de fotos do Teatro na Escola - Maio/2012"/></a>
            <span>Teatro na Escola</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/parabens-theo" title="Album de fotos do Parabéns Theo - Maio/2012"><img src="/static/images/eventos/parabens_theo/001_thumb.jpg" alt="Foto de capa do Album de fotos do Parabéns Theo - Maio/2012" title="Album de fotos do Parabéns Theo - Maio/2012"/></a>
            <span>Parabéns Theo</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/evento_dia-das-maes_2012" title="Album de fotos do dia das Mães Bambino - Maio/2012"><img src="/static/images/eventos/dia_das_maes_2012/001_thumb.jpg" alt="Foto de capa do Album de fotos do dia das Mães Bambino - Maio/2012" title="Album de fotos do dia das Mães Bambino - Maio/2012"/></a>
            <span>Dia das Mães</span>
        </div>
        <div class="photo_box">
            <span class="red">Maio/2012</span>
            <a href="/evento_dia-a_dia_maio_2012" title="Album de fotos do dia-a-dia da Bambino - Maio/2012"><img src="/static/images/eventos/maio-2012_dia-a-dia/014_thumb.jpg" alt="Foto de capa do Album de fotos do dia-a-dia da Bambino - Maio/2012" title="Album de fotos do dia-a-dia da Bambino - Maio/2012"/></a>
            <span>Dia à Dia da Bambino</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Mar/2012</span>
            <a href="/evento_dia-a_dia_mar_2012" title="Album de fotos do dia-a-dia da Bambino - Mar/2012"><img src="/static/images/eventos/marco-2012_dia-a-dia/001_thumb.jpg" alt="Foto de capa do Album de fotos do dia-a-dia da Bambino - Mar/2012" title="Album de fotos do dia-a-dia da Bambino - Mar/2012"/></a>
            <span>Dia à Dia da Bambino</span>
        </div>
        <div class="photo_box">
            <span class="red">Mar/2012</span>
            <a href="/evento_tio_rogerio_mar_2012" title="Album de fotos do Tio Rogerio da casa de cultura Mario Quintana contando historia do aviaozinho vermelho para os nossos Bambinos - Mar/2012"><img src="/static/images/eventos/marco-2012-tio_rogerio_mario_quintana/001_thumb.jpg" alt="Foto de capa do Album de fotos do Tio Rogerio da casa de cultura Mario Quintana contando historia do aviaozinho vermelho para os nossos Bambinos - Mar/2012" title="Album de fotos do Tio Rogerio da casa de cultura Mario Quintana contando historia do aviaozinho vermelho para os nossos Bambinos - Mar/2012"/></a>
            <span>Tio Rogério e o Aviãzinho Vermelho</span>
        </div>
        <div class="photo_box">
            <span class="red">Mar/2012</span>
            <a href="/evento_pascoa_mar_2012" title="Album de fotos da Festa da Páscoa - Mar/2012"><img src="/static/images/eventos/marco-2012_pascoa/001_thumb.jpg" alt="Foto de capa do Album de fotos da Festa da Páscoa - Mar/2012" title="Album da Festa da Páscoa - Mar/2012"/></a>
            <span>Festa da Páscoa</span>
        </div>
        <div class="photo_box">
            <span class="red">Fev/2012</span>
            <a href="/evento_13_fev_2012" title="Album de fotos do Aniversário 13 Anos Bambino - Fev/2012"><img src="/static/images/eventos/13_fev_2012/001_thumb.jpg" alt="Foto de capa do Album de fotos do Aniversário 13 Anos Bambino - Fev/2012" title="Album de fotos do Aniversário 13 Anos Bambino - Fev/2012"/></a>
            <span>Aniversário 13 Anos Bambino</span>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <span class="red">Jan/2012</span>
            <a href="/evento_17_jan_2012" title="Album de fotos da Brincadeira ao Ar Livre c/ Tio Rogério - Jan/2012"><img src="/static/images/eventos/17_01_2012/001_thumb.jpg" alt="Foto de capa do Album de fotos da Brincadeira ao Ar Livre c/ Tio Rogério - Jan/2012" title="Album de fotos da Brincadeira ao Ar Livre c/ Tio Rogério - Jan/2012"/></a>
            <span>Brincadeira ao Ar Livre c/ Tio Rogério</span>
        </div>
    -->
    </div>
</div>
