$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Jardim A</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <ul style="list-style: square;">
        <li>07:00 – 08:00 -> Chegada;</li>
        <li>08:00 – 09:00 -> Jogos dirigidos ou praça;</li>
        <li>09:00 – 09:30 -> Lanche;</li>
        <li>09:30 – 10:30 -> Brinquedo livre;</li>
        <li>10:30 – 11:00 -> DVD ou livros (hora do conto);</li>
        <li>11:00 – 12:00 -> Almoço e Higiene;</li>
        <li>12:00 – 13:00 -> Descanso;</li>
        <li>13:00 – 14:00 -> Entrada e Brinquedos ou jogos;</li>
        <li>14:00 – 15:00 -> Atividade pedagógica;</li>
        <li>15:00 – 15:30 -> Lanche;</li>
        <li>15:30 – 16:00 -> Música e história;</li>
        <li>16:00 – 16:30 -> Pracinha;</li>
        <li>16:30 – 17:00 -> Rodízio de jogos ou kits carro e cozinha;</li>
        <li>17:00 – 18:00 -> Jante e higiene;</li>
        <li>18:00 – 19:00 -> Saída, DVD, massa de modelar ou Lego.</li>
    </ul>
    <p style="float: left;font-weight:bold;width:100%;">Informações Complementares:</p>
    <ul style="float:left;">
        <li>Segunda, quarta e quinta -> Cartilha;</li>
        <li>Terça -> Caderno;</li>
        <li>Terça -> Capoeira (14:30 às 15:00);</li>
        <li>Quarta -> Ballet (16:00 às 16:30);</li>
        <li>Sexta -> Ed. Física (14:30 às 15:00);</li>
        <li>Sexta -> Brinquedo livre de casa e lanche coletivo.</li>
    </ul>
</div>
