$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Jardim B</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <ul style="list-style: square;">
        <li>07:00 – 08:00 -> Chegada;</li>
        <li>08:00 – 09:00 -> Jogos dirigidos ou praça;</li>
        <li>09:00 – 09:30 -> Lanche;</li>
        <li>09:30 – 10:30 -> Brinquedo livre;</li>
        <li>10:30 – 11:00 -> DVD ou livros (hora do conto);</li>
        <li>11:00 – 12:00 -> Almoço e Higiene;</li>
        <li>12:00 – 13:00 -> Descanso;</li>
        <li>13:00 – 14:00 -> Chegada;</li>
        <li>14:00 – 15:00 -> Atividades pedagógicas ;</li>
        <li>15:00 – 15:30 -> Lanche;</li>
        <li>15:30 – 16:30 -> Jogos pedagógicos ou brincadeiras;</li>
        <li>16:30 – 17:00 -> Pracinha ou roda de música e canto;</li>
        <li>17:00 – 17:30 -> Janta;</li>
        <li>17:30 – 18:30 -> Jogos pedagógicos ou DVD;</li>
        <li>18:30 – 19:00 -> Saída.</li>
    </ul>
    <p style="float: left;font-weight:bold;width:100%;">Informações Complementares:</p>
    <ul style="float:left;">
        <li>Segunda e quarta -> Atividades na folha;</li>
        <li>Terça e quinta -> Atividades no caderno;</li>
        <li>Terça -> Capoeira (14:30 às 15:00);</li>
        <li>Quinta -> Ballet (16:00 às 16:30);</li>
        <li>Sexta -> Ed. Física (14:00 às 14:30);</li>
        <li>Sexta -> Brinquedo livre de casa e lanche coletivo.</li>
    </ul>
</div>
