$def with (residenciais, comerciais)

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS | Listagem de imóveis para locação
$var full_description: Listagem de Imóveis Comerciais e Residênciais para locação em Canoas e Porto Alegre - RS.
$var keywords_tags: locações de imóveis, apartamentos, casas, terrenos, galpão

<h3 id="imoveis_locacao">Imóveis para Locação</h3>
<a href="#residencial" class="top_filtro" title="">Imóveis Residênciais</a> - <a href="#comercial" class="top_filtro" title="">Imóveis Comerciais</a>
<h2 id="residencial">Residêncial</h2>
<div class="filtros" id="filtro_residencial"><a href="#residencial_jk" title="">JK</a> - <a href="#residencial_apto_01" title="">Apartamento - 01 Dormitório</a> - <a href="#residencial_apto_02" title="">Apartamento - 02 Dormitórios</a> - <a href="#residencial_apto_03" title="">Apartamento - 03 Dormitórios</a> - <a href="#residencial_apto_outros" title="">Apartamento - Outros</a> - <a href="#residencial_casa_01" title="">Casa - 01 Dormitório</a> - <a href="#residencial_casa_02" title="">Casa - 02 Dormitórios</a> - <a href="#residencial_casa_03" title="">Casa - 03 Dormitórios</a> - <a href="#residencial_casa_outros" title="">Casa - Outros</a> - <a href="#residencial_box" title="">Box</a> - <a href="#residencial_terreno" title="">Terreno</a> - <a href="#residencial_outros" title="">Outros imóveis residênciais</a></div>
<h4 id="residencial_jk">JK</h4>
    $if len(residenciais['jk'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['jk']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo JK no momento para locação.</div>
<h4 id="residencial_apto_01">Apartamento - 01 Dormitório <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['apto_01'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['apto_01']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Apartamento 01 Dormitório no momento para locação.</div>
<h4 id="residencial_apto_02">Apartamento - 02 Dormitórios <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['apto_02'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['apto_02']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Apartamento 02 Dormitórios no momento para locação.</div>
<h4 id="residencial_apto_03">Apartamento - 03 Dormitórios <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['apto_03'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['apto_03']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Apartamento 03 Dormitórios no momento para locação.</div>
<h4 id="residencial_apto_outros">Apartamento - Outros <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['apto_outros'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['apto_outros']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Apartamento Outros no momento para locação.</div>
<h4 id="residencial_casa_01">Casa - 01 Dormitório <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['casa_01'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['casa_01']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 01 Dormitório no momento para locação.</div>
<h4 id="residencial_casa_02">Casa - 02 Dormitórios <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['casa_02'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['casa_02']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 02 Dormitórios no momento para locação.</div>
<h4 id="residencial_casa_03">Casa - 03 Dormitórios <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['casa_03'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['casa_03']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 03 Dormitórios no momento para locação.</div>
<h4 id="residencial_casa_outros">Casa - Outros <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['casa_outros'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['jk']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa Outros no momento para locação.</div>
<h4 id="residencial_box">Box <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['box'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['box']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Box no momento para locação.</div>
<h4 id="residencial_terreno">Terreno <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['terreno'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['terreno']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Terreno no momento para locação.</div>
<h4 id="residencial_outros">Outros imóveis residênciais <a href="#residencial" class="go_top">Topo</a></h4>
    $if len(residenciais['outros'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in residenciais['outros']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Outros Imóveis Residênciais no momento para locação.</div>
<h2 id="comercial">Comercial <a href="#imoveis_locacao" class="go_top">Topo</a></h2>
<div class="filtros" id="filtro_comercial"><a href="#sala" title="">Sala</a> - <a href="#loja" title="">Loja</a> - <a href="#comercial_casa_01" title="">Casa - 01 Dormitório</a> - <a href="#comercial_casa_02" title="">Casa - 02 Dormitórios</a> - <a href="#comercial_casa_03" title="">Casa - 03 Dormitórios</a> - <a href="#comercial_casa_outros" title="">Casa - Outros</a> - <a href="#comercial_box" title="">Box</a> - <a href="#comercial_pavilhao" title="">Pavilhão</a> - <a href="#comercial_terreno" title="">Terreno</a> - <a href="#comercial_outros" title="">Outros imóveis comerciais</a></div>
<h4 id="sala">Sala</h4>
    $if len(comerciais['sala'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['sala']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Sala no momento para locação.</div>
<h4 id="loja">Loja <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['loja'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['loja']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Loja no momento para locação.</div>
<h4 id="comercial_casa_01">Casa - 01 Dormitório <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['casa_01'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['casa_01']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 01 Dormitório no momento para locação.</div>
<h4 id="comercial_casa_02">Casa - 02 Dormitórios <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['casa_02'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['casa_02']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 02 Dormitórios no momento para locação.</div>
<h4 id="comercial_casa_03">Casa - 03 Dormitórios <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['casa_03'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['casa_03']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa 03 Dormitórios no momento para locação.</div>
<h4 id="comercial_casa_outros">Casa - Outros <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['casa_outros'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['casa_outros']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Casa Outros no momento para locação.</div>
<h4 id="comercial_box">Box <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['box'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['box']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Box no momento para locação.</div>
<h4 id="comercial_pavilhao">Pavilhão <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['pavilhao'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['pavilhao']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Pavilhão no momento para locação.</div>
<h4 id="comercial_terreno">Terreno <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['terreno'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['terreno']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Terreno no momento para locação.</div>
<h4 id="comercial_outros">Outros imóveis comerciais <a href="#comercial" class="go_top">Topo</a></h4>
    $if len(comerciais['outros'])>0:
        <table class="table_records" cellspacing="10">
        $for imovel in comerciais['outros']:
            $if loop.first:
                <tr>
            $elif loop.index0 % 4 ==0:
                </tr>
                <tr>
            <td style="vertical-align: top;">
                <span class="title_locacao">Para Alugar</span>
                $if imovel.foto:
                    <img src="$:imovel.foto" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf." alt="Foto do Imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf" />
                $else:
                    <img src="/static/images/imovel.jpg" title="$:imovel.tipo em $:imovel.cidade/$:imovel.uf" alt="Foto de destaque do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf." />
                <div><span class="bold">Código: </span><span>$:imovel.codigo</span></div>
                <hr/>
                <div><span>Local: </span><span>$:imovel.bairro-$:imovel.cidade/$:imovel.uf</span></div>
                <div><span>Tipo: </span><span>$:imovel.tipo</span></div>
                <div><span>Dorm.: </span><span>$:imovel.quantidade_dormitorios Dorm.</span></div>
                <div><span>Garagem: </span><span>$:imovel.quantidade_garagens Garagens</span></div>
                <div><span>Valor: </span><span>R$$ $:imovel.valor_aluguel</span></div>
                <a href="/detalhar-imovel-locacao/$:imovel.slug" class="link_detalhar" title="Detalhes do imóvel $:imovel.tipo em $:imovel.cidade/$:imovel.uf">Detalhar</a>
            </td>
        </tr>
        </table>
    $else:
        <div class="sem_imoveis_info">Sem Imóveis do tipo Outros Imóveis Comerciais no momento para locação.</div>
