$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Localização</h2>
    <div align="center">
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=Rua+Irm%C3%A3o+Flor%C3%AAncio,+n%C2%BA+151+-+Bairro+Harmonia+-+Canoas+-+RS+-+Brasil&amp;client=ubuntu&amp;channel=cs&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Irm%C3%A3o+Flor%C3%AAncio,+151+-+Harmonia,+Canoas+-+Rio+Grande+do+Sul,+92310-490&amp;t=m&amp;ll=-29.901303,-51.193542&amp;spn=0.035715,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=Rua+Irm%C3%A3o+Flor%C3%AAncio,+n%C2%BA+151+-+Bairro+Harmonia+-+Canoas+-+RS+-+Brasil&amp;client=ubuntu&amp;channel=cs&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Irm%C3%A3o+Flor%C3%AAncio,+151+-+Harmonia,+Canoas+-+Rio+Grande+do+Sul,+92310-490&amp;t=m&amp;ll=-29.901303,-51.193542&amp;spn=0.035715,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
        <br/>
        <br/>
        <a href="https://maps.google.com.br/maps?q=Rua+Irm%C3%A3o+Flor%C3%AAncio,+n%C2%BA+151+-+Bairro+Harmonia+-+Canoas+-+RS+-+Brasil&client=ubuntu&channel=cs&ie=UTF-8&ei=w05SUfPrHsny0wH7lYFQ&ved=0CAsQ_AUoAg" target="_blank" title="Exibir mapa ampliado." style="font-size:20px;">Exibir mapa no Google Maps</a>
    </div>
</div>
