$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Maternal II</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <h4>Manhãs:</h4>
    <ul style="list-style: square;">
        <li>07:00 -> Entrada;</li>
        <li>08:00 -> Brinquedos e/ou jogos;</li>
        <li>09:00 -> Lanche;</li>
        <li>09:30 -> Higiene;</li>
        <li>10:00 -> Pracinha; *</li>
        <li>11:00 -> Higiene;</li>
        <li>11:20 -> Almoço;</li>
        <li>11:40 -> Higiene Bucal e Descanso;</li>
        <li>13:00 -> Entrada e Livre;</li>
    </ul>
    <h4>Tardes:</h4>
    <h5>Segunda-feira:</h5>
    <ul style="list-style: square;">
        <li>14:00 -> Como foi o final de semana ? (oralidade e desenho);</li>
        <li>15:00 -> Lanche;</li>
        <li>15:30 -> Pracinha ou pátio;</li>
        <li>16:00 -> Coordenando movimentos;</li>
        <li>16:15 -> Momento 1,2,3;</li>
        <li>17:20 -> Janta e higiene;</li>
        <li>18:00 -> Hora do DVD;</li>
        <li>19:00 -> Saída.</li>
    </ul>
    <h5>Terça-feira:</h5>
    <ul style="list-style: square;">
        <li>13:00 -> Brinquedos ou jogos;</li>
        <li>14:00 -> Capoeira;</li>
        <li>14:30 -> hora do conto;</li>
        <li>15:00 -> Lanche;</li>
        <li>15:30 -> Pracinha ou pátio;</li>
        <li>16:00 -> Música;</li>
        <li>16:15 -> Momento A,B,C;</li>
        <li>17:20 -> Janta e higiene;</li>
        <li>18:00 -> Massinha de modelar;</li>
        <li>19:00 -> Saída.</li>
    </ul>
    <h5>Quarta-feira:</h5>
    <ul style="list-style: square;">
        <li>13:00 -> Brinquedos ou jogos;</li>
        <li>14:00 -> Vamos colorir ?;</li>
        <li>14:30 -> Lanche;</li>
        <li>15:00 -> Pracinha ou pátio;</li>
        <li>15:30 -> Ballet;</li>
        <li>16:00 -> Alongamento e relaxamento;</li>
        <li>16:30 -> Recorte e colagem;</li>
        <li>17:20 -> Janta e higiene;</li>
        <li>18:00 -> Hora do DVD;</li>
        <li>19:00 -> Saída.</li>
    </ul>
    <h5>Quinta-feira:</h5>
    <ul style="list-style: square;">
        <li>13:00 -> Brinquedos ou jogos;</li>
        <li>14:00 -> Caderno;</li>
        <li>15:00 -> Lanche;</li>
        <li>15:30 -> Pracinha;</li>
        <li>16:00 -> Coordenando movimentos;</li>
        <li>16:15 -> Música;</li>
        <li>16:30 -> Pintura com tinta;</li>
        <li>17:20 -> Janta e higiene;</li>
        <li>18:00 -> Hora do conto;</li>
        <li>18:30 -> Massinha de modelar;</li>
        <li>19:00 -> Saída.</li>
    </ul>
    <h5>Sexta-feira:</h5>
    <ul style="list-style: square;">
        <li>Brinquedos de casa;</li>
        <li>Ed.Física;</li>
        <li>Lanche coletivo;</li>
        <li>Hora do DVD.</li>
    </ul>
    <p style="float: left;font-weight:bold;width:100%;">Observações:</p>
    <p style="float: left;font-weight:bold;color:red;width:100%;">* Dias de chuva atividade na sala no horário da pracinha.</p>
</div>


