$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Maternal I</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <ul style="list-style: square;">
        <li>07:00 -> Entrada ;</li>
        <li>08:00 -> Brinquedos e/ou jogos;</li>
        <li>09:00 -> Lanche;</li>
        <li>09:30 -> Higiene;</li>
        <li>10:00 -> Pracinha; *</li>
        <li>11:00 -> Higiene;</li>
        <li>11:20 -> Almoço;</li>
        <li>11:40 -> Higiene Bucal e Descanso;</li>
        <li>13:00 -> Entrada e Livre;</li>
        <li>13:30 -> Higiene;</li>
        <li>14:00 -> Atividade pedagógica e/ou dirigida;</li>
        <li>15:00 -> Lanche;</li>
        <li>15:30 -> Pracinha; *</li>
        <li>16:00 -> Jogos e/ou brincadeiras;</li>
        <li>16:30 -> Higiene;</li>
        <li>17:00 -> Janta;</li>
        <li>17:30 -> Higiene Bucal;</li>
        <li>18:00 -> Jogos ou DVD;</li>
        <li>19:00 -> Saída;</li>
    </ul>
    <p style="float: left;font-weight:bold;width:100%;">Informações Complementares:</p>
    <ul style="float:left;">
        <li>Segunda, quarta e quinta -> Atividade pedagógica;</li>
        <li>Terça -> Hora do conto;</li>
        <li>Terça -> Capoeira (14:00 às 14:30);</li>
        <li>Quarta -> Ballet (15:00 às 15:30);</li>
        <li>Sexta -> Ed. Física, brinquedo livre de casa e lanche coletivo.</li>
    </ul>
    <p style="float: left;font-weight:bold;width:100%;">Observações:</p>
    <p style="float: left;font-weight:bold;color:red;width:100%;">* Dias de chuva atividade na sala no horário da pracinha.</p>
</div>




