$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Matrículas</h2>
    <h3>Documentação Necessária:</h3>
    <ul>
        <li>Cópia Certidão de Nascimento.</li>
        <li>Cópia Cateira de Vacina.</li>
        <li>Cópia Comprovante de Residência.</li>
    </ul>
    <h3 style="display:block;float:left;margin:10px 0px 05px 0px !important;width:100%;">Determinações para o ano de 2015</h3>
    <p>Conheça as determinações da Bambino Camponês para o ano de 2015: <a href="http://media.bambinocampones.com.br/arquivos/determinacoes_2015.pdf" title="">Acesse</a></p>
</div>
