$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Jun/2012 - Nosso dia à dia</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/001.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/001_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/002.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/002_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/003.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/003_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/004.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/004_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/005.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/005_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/006.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/006_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/007.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/007_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/nosso_dia_a_dia/008.jpg" title="Nosso dia à dia" class="lightbox" target="_blank"><img src="/static/images/eventos/nosso_dia_a_dia/008_thumb.jpg" alt="Nosso dia à dia" title="Nosso dia à dia" height="85px" width="113px" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
