$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Nossos Horários</h2>
    <div style="width:650px;display:table; height: 100%;">
    <h4 style="color: red; margin-top:35px;height: 10px !important;">Horário de entrada:</h4>
    <p style="display:block;width:100%;"><span style="font-weight:bold;">Turno da manhã:</span> <span style="font-weight:bold;color:black;">até</span> às <span style="font-weight:bold;color:black;">10h45min</span></p>
    <p style="margin-bottom: 20px;display:block;width:100%;"><span style="font-weight:bold;">Turno da tarde:</span> das <span style="font-weight:bold;color:black;">13h00min até às 14h00min</span></p>
    <h4 style="color: red; margin-top:35px;width:100%;display:table;">Horário de saída:</h4>
    <p style="display:block;width:100%;margin: 0px !important">De Segunda-feira a Quinta-feira – <span style="font-weight:bold;color:black;">até às 19h00min</span></p>
    <p style="display:block;width:100%;margin: 10px 0px !important; margin-bottom:20px;">Sexta-feira <span style="font-weight:bold;color:black;">até às 18h00min</span></p>
    <p style="margin-top: 30px;">Favor <span style="font-weight:bold;">não</span> procurar a escola nos seguintes horários:</p>
    <p>Das <span style="font-weight:bold;color:black;">10h45min</span> às <span style="font-weight:bold;color:black;">12h00min</span>. -> hora do almoço, higiene e descanso das crianças;</p>
    <p>Das <span style="font-weight:bold;color:black;">12h</span> até às <span style="font-weight:bold;color:black;">13h</span> -> almoço das professoras.</p>
    <p>Das <span style="font-weight:bold;color:black;">16h45min</span> às <span style="font-weight:bold;color:black;">17h45min</span> -> Janta e higiene das crianças.</p>
    </div>
</div>
