$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page" style="height: 550px;">
    <h2>Galeria de Fotos</h2>
    <h3>Agosto/2012 - Como são cultivados os alimentos de nossas refeições</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/001.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/001_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/002.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/002_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/003.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/003_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/004.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/004_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/005.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/005_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/006.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/006_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/007.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/007_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/008.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/008_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/009.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/009_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/010.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/010_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/011.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/011_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/012.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/012_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/013.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/013_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/014.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/014_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/015.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/015_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/016.jpg" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/016_thumb.jpg" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/017.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/017_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/018.png" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/018_thumb.png" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/019.jpg" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/019_thumb.jpg" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/agosto-2012_vovo_bambino/020.jpg" title="Como são cultivados os alimentos de nossas refeições" class="lightbox" target="_blank"><img src="/static/images/eventos/agosto-2012_vovo_bambino/020_thumb.jpg" alt="Como são cultivados os alimentos de nossas refeições" title="Como são cultivados os alimentos de nossas refeições" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
