$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Conheça nossas NOVAS Instalações</h2>
    <img src="/static/images/slide_01.jpg" alt="" style="padding: 5px;background-color: white; border: 01px solid #ccc;margin: 0px 0px 5px 5px;display:block;margin:0px auto;">
    <img src="/static/images/slide_02.jpg" alt="" style="padding: 5px;background-color: white; border: 01px solid #ccc;margin: 0px 0px 5px 5px;display:block;margin:0px auto;">
    <img src="/static/images/slide_03.jpg" alt="" style="padding: 5px;background-color: white; border: 01px solid #ccc;margin: 0px 0px 5px 5px;display:block;margin:0px auto;">
    <img src="/static/images/slide_04.jpg" alt="" style="padding: 5px;background-color: white; border: 01px solid #ccc;margin: 0px 0px 5px 5px;display:block;margin:0px auto;">
    <img src="/static/images/slide_05.jpg" alt="" style="padding: 5px;background-color: white; border: 01px solid #ccc;margin: 0px 0px 5px 5px;display:block;margin:0px auto;">
</div>
