$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Faça parte de nossa equipe</h2>
    <br/>
    <p style="font-size:20px;">Envie seu curriculo para bambinocampones@bol.com.br.</p>
    <!--
    <table id="table_equipe">
        <tr>
            <td>
                <a href="/static/funcionarios/professora_daniele.jpg" title="Foto da Professora Daniele (Dani)." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_daniele_thumb.jpg" alt="Foto da Professora Daniele (Dani)." title="Foto do Funcionario 01" height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Daniele (Dani)
                <br/>
                Professora
            </td>
            <td>
                <a href="/static/funcionarios/professora_jessica.jpg" title="Foto da Professora Jéssica." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_jessica_thumb.jpg" alt="Foto da Professora Jéssica." title="Foto da Professora Jéssica." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Jéssica
                <br/>
                Professora
            </td>
            <td>
                <a href="/static/funcionarios/assistente_vera.jpg" title="Foto da Assistênte Vera." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_vera_thumb.jpg" alt="Foto da Assistênte Vera." title="Foto da Assistênte Vera." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Vera
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/assistente_lucinda.jpg" title="Foto da Assistênte Lucinda (Lú)." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_lucinda_thumb.jpg" alt="Foto da Assistênte Lucinda (Lú)." title="Foto da Assistênte Lucinda (Lú)." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Lucinda (Lú)
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/assistente_angela.jpg" title="Foto da Assistênte Ângela." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_angela_thumb.jpg" alt="Foto da Assistênte Ângela." title="Foto da Assistênte Ângela." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Ângela
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/professora_alessandra.jpg" title="Foto da Professora Alessandra." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_alessandra_thumb.jpg" alt="Foto da Professora Alessandra." title="Foto da Professora Alessandra." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Alessandra (Alê)
                <br/>
                Professora
            </td>
            <td>
                <a href="/static/funcionarios/cozinheira_elisangela.jpg" title="Foto da Cozinheira Elisângela." class="lightbox" target="_blank"><img src="/static/funcionarios/cozinheira_elisangela_thumb.jpg" alt="Foto da Cozinheira Elisângela." title="Foto da Cozinheira Elisângela." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Elisângela
                <br/>
                Cozinheira
            </td>
        </tr>
        <tr>
            <td>
                <a href="/static/funcionarios/faxineira_vera.jpg" title="Foto da Faxineira Vera." class="lightbox" target="_blank"><img src="/static/funcionarios/faxineira_vera_thumb.jpg" alt="Foto da Faxineira Vera." title="Foto da Faxineira Vera." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Vera
                <br/>
                Zeladora
            </td>
            <td>
                <a href="/static/funcionarios/assistente_andressa.jpg" title="Foto da Assistênte Andressa." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_andressa_thumb.jpg" alt="Foto da Assistênte Andressa." title="Foto da Assistênte Andressa." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Andressa
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/professora_elisiane.jpg" title="Foto da Professora Elisiane." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_elisiane_thumb.jpg" alt="Foto da Professora Elisiane." title="Foto da Professora Elisiane." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Elisiane (Lisi)
                <br/>
                Professora
            </td>
            <td>
                <a href="/static/funcionarios/professora_simone.jpg" title="Foto da Professora Simone." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_simone_thumb.jpg" alt="Foto da Professora Simone." title="Foto da Professora Simone." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Simone
                <br/>
                Professora
            </td>
            <td>
                <a href="/static/funcionarios/assistente_alice.jpg" title="Foto da Assistênte Alice." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_alice_thumb.jpg" alt="Foto da Assistênte Alice." title="Foto da Assistênte Alice." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Alice
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/assistente_fernanda.jpg" title="Foto Assistênte Fernanda (Fê)." class="lightbox" target="_blank"><img src="/static/funcionarios/assistente_fernanda_thumb.jpg" alt="Foto da Assistênte Fernanda (Fê)." title="Foto da Assistênte Fernanda (Fê)." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Fernanda (Fê)
                <br/>
                Assistente
            </td>
            <td>
                <a href="/static/funcionarios/professora_graziele.jpg" title="Foto da Professora Graziele (Grazi)." class="lightbox" target="_blank"><img src="/static/funcionarios/professora_graziele_thumb.jpg" alt="Foto da Professora Graziele (Grazi)." title="Foto da Professora Graziele (Grazi)." height="150px" width="120px" class="photo_box" /></a>
                <br/>
                Graziele (Grazi)
                <br/>
                Professora
            </td>
        </tr>
    </table>
    -->
</div>
