$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Jan/2013 - Obras 2012/2013</h3>
    <div id="photo_panel" align="center" style="height: 640px;">
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/001.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/001_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/002.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/002_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/003.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/003_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/004.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/004_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/005.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/005_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <br style="clear:both;"/>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/006.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/006_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/007.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/007_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/008.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/008_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/009.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/009_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/010.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/010_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/011.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/011_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/012.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/012_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/013.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/013_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/014.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/014_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/015.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/015_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/016.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/016_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/017.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/017_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="photo_box">
            <a href="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/018.jpg" title="Obras 2012/2013" class="lightbox" target="_blank"><img src="http://media.bambinocampones.com.br/images/eventos/obras_2012_2013/018_thumb.jpg" alt="Obras 2012/2013" title="Obras 2012/2013" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
