$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão


<div id="content_page">
    <h2>Contato Recebido</h2>
    <p class="agradecimento_panel">
      Obrigado pelo contato, Em breve estaremos entrando em contato.
    </p>
</div>

