$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Maio/2012 - Parabéns Theo</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/parabens_theo/001.jpg" title="Parabéns Theo" class="lightbox" target="_blank"><img src="/static/images/eventos/parabens_theo/001_thumb.jpg" alt="Parabéns Theo" title="Parabéns Theo" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/parabens_theo/002.jpg" title="Parabéns Theo" class="lightbox" target="_blank"><img src="/static/images/eventos/parabens_theo/002_thumb.jpg" alt="Parabéns Theo" title="Parabéns Theo" height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/parabens_theo/003.jpg" title="Parabéns Theo" class="lightbox" target="_blank"><img src="/static/images/eventos/parabens_theo/003_thumb.jpg" alt="Parabéns Theo" title="Parabéns Theo" height="85px" width="113px" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
