$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Pré-Maternal</h2>
    <h3>Conteúdos Programaticos</h3>
    <h3>Atividades Incluídas</h3>
    <h3>Atividades Extras</h3>
    <h3>Rotina Diária</h3>
    <ul style="list-style: square;">
        <li>07:00 – 09:00 -> Chegada;</li>
        <li>09:00 – 09:30 -> Lanche;</li>
        <li>09:30 – 10:30 ->Pracinha;</li>
        <li>10:30 – 11:00 ->Troca de fraldas;</li>
        <li>11:00 – 11:30 -> Almoço;</li>
        <li>11:30 – 12:00 -> Higiene Bucal;</li>
        <li>12:00 – 13:00 -> Soninho;</li>
        <li>13:00 – 14:00 -> Pracinha;</li>
        <li>14:00 – 14:30 -> Troca de fraldas;</li>
        <li>14:30 – 15:00 ->Lanche;</li>
        <li>15:00 – 15:30 -> Atividades pedagógicas;</li>
        <li>15:30 – 16:00 -> Atividades dirigidas;</li>
        <li>16:00 – 17:00 -> Trocas;</li>
        <li>17:00 – 17:30 -> Janta;</li>
        <li>17:30 – 18:00 -> Higiene Bucal;</li>
        <li>18:00 – 19:00 -> DVD ou Pracinha e Saída;</li>
    </ul>
    <p style="float: left;font-weight:bold;">Sexta -> Ed. Física.</p>
</div>







