$def with ()

$var title:  Luis Felipe Imóveis - Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS
$var full_description: Venda e Locações de Imóveis Comerciais e Residênciais em Canoas e Porto Alegre - RS.
$var keywords_tags: venda de imóveis, locações de imóveis, apartamentos, casas, terrenos, galpão

<!-- inicio area central do site -->
<div id="content_page">
    <h2>Galeria de Fotos</h2>
    <h3>Maio/2012 - Que visitinha Gostosa da Mamãe</h3>
    <div id="photo_panel" align="center">
        <div class="photo_box">
            <a href="/static/images/eventos/diversas_maio/visitinha_gostosa_da_mamae_01.jpg" title="Que Visitinha Gostosa da Mamãe " class="lightbox" target="_blank"><img src="/static/images/eventos/diversas_maio/visitinha_gostosa_da_mamae_01_thumb.jpg" alt="Que Visitinha Gostosa da Mamãe " title="Que Visitinha Gostosa da Mamãe " height="85px" width="113px" /></a>
        </div>
        <div class="photo_box">
            <a href="/static/images/eventos/diversas_maio/visitinha_gostosa_da_mamae_02.jpg" title="Que Visitinha Gostosa da Mamãe " class="lightbox" target="_blank"><img src="/static/images/eventos/diversas_maio/visitinha_gostosa_da_mamae_02_thumb.jpg" alt="Que Visitinha Gostosa da Mamãe " title="Que Visitinha Gostosa da Mamãe " height="85px" width="113px" /></a>
        </div>
        <div class="box_message">Ob: Clique na foto para ampliar.</div>
    </div>
</div>
