$def with (form)

$var title:  Fênix Artes Gráficas - Convites, impressos e impressão digital em Canoas/RS.
$var full_description: Convites, impressos e impressão digital em Canoas/RS.
$var keywords_tags: contato, form, formulário de contato


<h1>Contato</h1>
<p class="fields">Envie sugestões e faça suas solicitações preenchendo o formulário:</p>
<div id="contato_panel">
    <form name="contato" id="contato" action="/contato" method="post">
        $:form.render_css()
        <br class="clear" />
        <label class="fields">Código de verificação:</label>
        <span id="txtCaptchaDiv"></span>
        <input type="hidden" id="txtCaptcha" />
        <input type="text"
               name="txtInput"
               id="txtInput"
               class="fields"
               size="10"
               tabindex="6" />
        <br class="clear" />
        <button id="btn_reset"
                type="reset"
                class="fields"
                tabindex="7">Limpar</button>
        <button id="btn_enviar"
                type="submit"
                class="fields"
                onclick="return valida_contato();"
                tabindex="8">Enviar</button>
    </form>
</div>
<script type="text/javascript">
    function onload() { generateCode(); }
    window.onload+=onload();
</script>