$def with ()

$var title:  Fênix Artes Gráficas - Convites, impressos e impressão digital em Canoas/RS.
$var full_description: Convites, impressos e impressão digital em Canoas/RS.    
$var keywords_tags: localizacao, mapa de localizacao, mapa

<h1>Localização</h1>
<div style="margin: 0px auto;width:100%;min-height: 500px;margin-top: 20px;text-align:center;" align="center">
    <p style="width:100%;display:block;margin-bottom: 20px;">
    Endereço: Rua das Allamandas nº 37 - Bairro 5 Colônias
    <br/>
    Cep: 92320-250 - Canoas - RS
    </p>
    <iframe 
        width="630"
        height="600"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com.br/maps?q=Endere%C3%A7o:+Rua+das+Allamandas+n%C2%BA+37+-+Bairro+5+Col%C3%B4nias&amp;client=ubuntu&amp;channel=cs&amp;ie=UTF8&amp;hq=Rua+das+Allamandas+n%C2%BA+37+-+Bairro+5+Col%C3%B4nias&amp;hnear=Canoas+-+Rio+Grande+do+Sul&amp;t=m&amp;cid=14288606276310313628&amp;ll=-29.917224,-51.201181&amp;spn=0.044636,0.054073&amp;z=14&amp;iwloc=A&amp;output=embed">
    </iframe>
    <br />
    <small>
        <a href="https://maps.google.com.br/maps?q=Endere%C3%A7o:+Rua+das+Allamandas+n%C2%BA+37+-+Bairro+5+Col%C3%B4nias&amp;client=ubuntu&amp;channel=cs&amp;ie=UTF8&amp;hq=Rua+das+Allamandas+n%C2%BA+37+-+Bairro+5+Col%C3%B4nias&amp;hnear=Canoas+-+Rio+Grande+do+Sul&amp;t=m&amp;cid=14288606276310313628&amp;ll=-29.917224,-51.201181&amp;spn=0.044636,0.054073&amp;z=14&amp;iwloc=A&amp;source=embed"
           style="color:#0000FF;text-align:left">Exibir mapa ampliado</a>
    </small>
</div>
