$def with (conteudo)

$var title:  Fênix Artes Gráficas - Convites, impressos e impressão digital em Canoas/RS.
$var full_description: Convites, impressos e impressão digital em Canoas/RS.
$var keywords_tags: Convites, impressos digitais, convites, cartões de visita, agenda, livros, sacolas, revistas, folders, panfletos, embalagens, calendários de mesa, caderno executivo, risque e rabisque, matériais de escritório, folhas A4, folhas A3

<div id="content_page">
    $:conteudo.conteudo
</div>
