$def with ()

$var title:  Rede SOS Turbo - Turbinamento de automóveis e turbinamento industrial em Porto Alegre/RS - Contato.
$var full_description: Turbinamento de automóveis, caminhões e caminhonetes em Porto Alegre - RS.
$var keywords_tags: contato, form, formulário de contato

<h1><span>Contato</span></h1>
<div id="contact_panel">
    <div id="contact_panel_left">
        <div id="contact_panel_left_body">
            <span id="intro">Tire suas dúvidas, dê opiniões. Todos os canais da Rede SOS Turbo estão abertos para atendê-lo.</span>
            <div id="contact_panel_left_body_top">
                <span class="contato_field">Contato</span>
                <div class="line"></div>
                <img src="/static/images/img_fone.gif" width="140" height="22" />
                <span class="contato_email_field"><a href="mailto:adriano@redesosturbo.com.br" title="E-mail geral da Rede SOS Turbo.">adriano@redesosturbo.com.br</a></span>
            </div>
            <div id="contact_panel_left_body_bottom">
                <span class="localizacao_field">Localização</span>
                <div class="line"></div>
                <span class="endereco_field">Rua Augusto Severo, 652 - Bairro São João</br>Cep 90240-480 - Porto Alegre - RS</span>
                <iframe width="324" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?q=-30.001678,-51.188899&amp;num=1&amp;sll=-14.179186,-50.449219&amp;sspn=44.419463,47.900391&amp;ie=UTF8&amp;ll=-30.00169,-51.188908&amp;spn=0.004646,0.006931&amp;z=15&amp;output=embed"></iframe>
                <br />
                <small><a href="http://maps.google.com.br/maps?q=-30.001678,-51.188899&amp;num=1&amp;sll=-14.179186,-50.449219&amp;sspn=44.419463,47.900391&amp;ie=UTF8&amp;ll=-30.00169,-51.188908&amp;spn=0.004646,0.006931&amp;z=15&amp;source=embed" target="_blank" class="link_mapa">Exibir mapa ampliado</a></small>
            </div>
        </div>
    </div>
    <div id="contact_panel_right">
        <div id="contact_panel_right_body">
            <span class="intro">Envie sugestões e faça suas solicitações preenchendo o formulário:</span>
            <form name="contato" id="contato" action="/contato" method="post">
                <span class="nome_field">Nome:</span>
                <input name="nome" id="nome" type="text" title="Informe o seu nome." class="fields" />
                <span class="fields">Telefone:</span>
                <input name="telefone" id="telefone" type="text" title="Informe o seu telefone." class="fields" />
                <span class="fields">E-mail:</span>
                <input name="email" id="email" type="text" title="Informe o seu e-mail." class="fields" />
                <span class="fields">Departamento:</span>
                <select name="departamento" id="departamento" title="Selecione o departamento." class="fields">
                    <option value="vendas@redesosturbo.com.br">Vendas</option>
                    <option value="mauro@redesosturbo.com.br">Oficina</option>
                    <option value="logistica@redesosturbo.com.br">Logística</option>
                    <option value="contato@redesosturbo.com.br">RH</option>
                    <option value="nfe@redesosturbo.com.br">Finânceiro</option>
                </select>
                <span class="fields">Assunto:</span>
                <input name="assunto" id="assunto" type="text" title="Informe o assunto." class="fields" />
                <span class="fields">Mensagem:</span>
                <textarea name="mensagem" id="mensagem" title="Deixe sua mensagem." rows="10" cols="20"></textarea>
                <button id="btn_enviar" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
