$def with ()

$var title:  Fênix Artes Gráficas - Convites, impressos e impressão digital em Canoas/RS.
$var full_description: Convites, impressos e impressão digital em Canoas/RS.    
$var keywords_tags: localizacao, mapa de localizacao, mapa

<h1>Localização</h1>
<p style="width:100%;display:block;">
    Endereço: Rua das Allamandas nº 37 - Bairro 5 Colônias
    </br>
    Cep: 92320-250 - Canoas - RS
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+das+Allamandas+37+-+5+Col%C3%B4nias+-+Canoas+-+RS&amp;aq=&amp;sll=-30.416657,-53.667865&amp;sspn=11.113042,19.753418&amp;t=m&amp;ie=UTF8&amp;hq=Rua+das+Allamandas+37+-+5+Col%C3%B4nias+-&amp;hnear=Canoas+-+Rio+Grande+do+Sul&amp;ll=-29.917231,-51.201199&amp;spn=0.006295,0.050909&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+das+Allamandas+37+-+5+Col%C3%B4nias+-+Canoas+-+RS&amp;aq=&amp;sll=-30.416657,-53.667865&amp;sspn=11.113042,19.753418&amp;t=m&amp;ie=UTF8&amp;hq=Rua+das+Allamandas+37+-+5+Col%C3%B4nias+-&amp;hnear=Canoas+-+Rio+Grande+do+Sul&amp;ll=-29.917231,-51.201199&amp;spn=0.006295,0.050909" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>

