{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Cardápios. {% endblock %}

{% block keywords %} cardápios, alimentação {% endblock %}
{% block description %} Cardápios e informações nutricionais {% endblock %}

{% block content %}

{% if cardapios %}
    <h2>Cardápios:</h2>
    <img src="http://media.bambinocampones.com.br/images/comida.jpg" alt="" title="" style="width:100%;" />
    <span style="text-indent: 20px;display:block;margin-top: 10px;">Temos também a opção de lanche feito na escola. Maiores informações, Fale com a direção.</span>
    <table style="width: 100%;background-color: #eee; border: 01px solid #ccc;margin-top: 10px;" align="center">
        <tr>
            <th>Turma</th>
            <th>Ano</th>
            <th>Mês</th>
            <th>Cardápio</th>
        </tr>
        {% for cardapio in cardapios %}
            <tr>
                <td>{{ cardapio.get_tipo }}</td><td>{{ cardapio.ano }}</td><td>{{ cardapio.get_mes }}</td><td><a href="{{ MEDIA_URL }}{{ cardapio.cardapio_file }}" title="">Ver arquivo</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p> Sem cardápios disponíveis no momento. </p>
{% endif %}

{% endblock %}
