{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ titulo }}. {% endblock %}

{% block content %}

{% if lista_videos %}
    <h2 class="title_shadow margin_left_adjusts"><img src="{% static 'images/noticias.png' %}" class="mural_icon">Galeria de Vídeos</h2>
    <ul style="list-style: none;">
    {% for video in lista_videos %}
        <li style="margin-top: 05px;text-align:center;">
            <a href="/video/{{ video.slug }}" title="videos da galeria {{ video.titulo }}">
                {% if video.get_thumb.url_resource %}
                    {{ video.get_thumb.url_resource|safe }}
                {% else %}
                    {% if video.get_thumb.upload_resource %}
                        <video controls width="65%" height="60%">
                            <source src="{{ MEDIA_URL }}{{ video.get_thumb.upload_resource|safe }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    {% endif %}
                {% endif %}
                <p style="width: 100%; text-align:center;"><strong>Nome: {{ video.titulo }}</p>
                <p style="width: 100%; text-align:center;"><strong>Ano:</strong> {{ video.ano }} - <strong>Mês:</strong> {{ video.get_mes }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h2 class="title_shadow margin_left_adjusts">Sem videos</h2>
    <p>Novas publicações em breve.</p>
{% endif %}
{% endblock %}
