{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ titulo }}. {% endblock %}

{% block content %}

{% if lista_videos %}
    <h2 class="title_shadow margin_left_adjusts"><img src="{% static 'images/noticias.png' %}" class="mural_icon">Galeria de videos</h2>
    <ul>
    {% for video in lista_videos %}
        <li>
            <strong>Ano:</strong> {{ video.ano }} - <strong>Mês:</strong> {{ video.get_mes }} - <strong>Galeria:</strong> {{ video.titulo }}
            <br />
            {% for recurso in video.galeriaresource_set %}
                <div>
                {% if recurso.url_resource %}
                    <a href="{{ recurso.action_resource }}" title=""><img src="{{ recurso.url_resource }}" alt="" title="" /></a>
                {% else %}
                    <a href="{{ recurso.action_resource }}" title=""><img src="{{ MEDIA_URL }}{{ recurso.upload_resource }}" alt="" title="" /></a>
                {% endif %}
                </div>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <h2 class="title_shadow margin_left_adjusts">Sem videos</h2>
    <p>Novas publicações em breve.</p>
{% endif %}
{% endblock %}
