$def with (titulo, img_url, action, method, form, verbo, display_message)
<h1><img src="$img_url" class="icon_menu" />$:titulo</h1>
<div class="painel_form">
    <span class="show_message">$:display_message</span>
    <h2><span class="titulo">Dados do Registro</span></h2>
    <form action="$action" method="$method" name="operation_form" id="operation_form">
        $:form.render()
    </form>
</div>
<style type="text/css">
    div.menuBar { display: none; }
    #copyrightMessage { display: none; }
</style>
