$def with (conteudo)

$var title: Persianas Paludo - $:conteudo.titulo
$var full_description: $:conteudo.descricao_completa.
$var keywords_tags: $:conteudo.palavras_chaves

$:conteudo.conteudo
<div id="bottom_panel">
    <div id="promotion_panel" class="panels">
        <h2>Promoções</h2>
        <p><br/>Parcelamos nos cartões <strong>VISA</strong> e <strong>MASTER</strong> sem juros ! e desconto no pagamento à vista !.</p>
    </div>
    <div id="instalation_panel" class="panels"><a href="/contato" title="Instalação Gratuíta"><img src="/static/images/instalacao.gif" alt="Banner da Instalação." title="Instalação gratuíta." /></a></div>
    <div id="quote_panel" class="panels"><a href="/contato" title="Orçamento Gratuíto"><img src="/static/images/orcamento.gif" alt="Banner do Orçamento." title="Orçamento gratuíto." /></a></div>
</div>
