<h3>RSS dos Eventos</h3>
<p class="margintopbottom10px">Assine o canal RSS dos eventos do Lindóia Tênis Clube e receba automaticamente a programação de nossa agenda de eventos.</p> 
<span><a href="http://feeds.feedburner.com/RssEventosLTC" class="aligncenter" title="Canal RSS de Eventos">Canal RSS de Eventos</a></span>
<h3 class="margintop10px">RSS das Notícias</h3>
<p class="margintopbottom10px">Assine o canal de Notícias do Lindóia Tênis Clube e mantenha-se informado das novidades do Lindóia Tênis Clube.</p>
<span><a href="http://feeds.feedburner.com/RssNoticiasLTC" class="aligncenter" title="Canal RSS de Notícias">Canal RSS de Notícias</a></span>

