$def with (_vars)

<h1><img src="$:_vars['img_url']" class="icon_menu" />$:_vars['titulo']</h1>
<div class="painel_form">
    <span class="show_message">$:_vars['display_message']</span>
    <h2><span class="titulo">Dados do Registro</span></h2>
    <form action="$_vars['action']" method="$_vars['method']" name="operation_form" id="operation_form">
        $:_vars['form'].render_css()
    </form>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        set_buttons();
    });
</script>

