$def with (boletins)

$var title: Fundação Cultural Cavalgada do Mar em Porto Alegre - RS.
$var full_description: Fundação Cultural Cavalgada do Mar em Porto Alegre - RS.
$var keywords_tags: fundação, cavalgada, cavalgada do mar

<h3>Destaques</h3>
<table id="destaq" class="menu">
    <tr>
        <td><a href="/percurso"  title="O Percurso da Cavalgada do Mar."><img src="/static/images/home1.jpg" alt="O Percurso" title="O Percurso da Cavalgada do Mar." /></a></td>
        <td><a href="/albuns"    title="Albúm de fotos e vídeos da Cavalgada do Mar"><img src="/static/images/home2.jpg" alt="Eu Vivi essa emoção" title="Galerias de fotos e vídeos." /></a></td>
    </tr>
    <tr>
        <td><a href="/inscricao" title="Como fazer a sua inscrição."><img src="/static/images/home5.jpg" alt="Inscrição" title="Faça a sua inscrição." /></a></td>
        <td><a href="/noticias"  title="Últimas Noticias da Cavalgada o Mar."><img src="/static/images/home4.jpg" alt="Noticias" title="Últimas Notícias." /></a></td>
    </tr>
</table>
<div id="bulletin">
    <img src="/static/images/Evento.png" class="icon_boletim"/><h3>Boletim Diário</h3>
    $if boletins:
        <ul>
            <li>
                <h4><a href="/boletim/$:boletins.slug" title="$:boletins.titulo" class="more"><span class="dt">$:boletins.data_hora.strftime('%d/%m/%Y - %H:%M')</span><span class="sep"> - </span>$:boletins.titulo</a></h4>
                <p>$:boletins.intro</p>
            </li>
        </ul>
        <a href="/boletins" title="Lista de Todos os Boletins" id="view_all">Todos os Boletins</a>
    $else:
        
    <div id="player">
        
    </div>
    <img src="/static/images/logotipo.jpg" style="margin: 80px 50px;" />
</div>
