$def with (tipo_publicacao, titulo, publicacoes)

$var title: Fundação Cultural Cavalgada do Mar em Porto Alegre - RS.
$var full_description: Fundação Cultural Cavalgada do Mar em Porto Alegre - RS.
$var keywords_tags: $:titulo

<div style="float: left; display: inline; width: 745px; margin-bottom: 15px;">
    <div id="publish_panel">
    <h1>$:titulo</h1>
        $if publicacoes:
            $for record in publicacoes.records:
                <img src="$:record.thumb_publicacao" alt="Foto para $:record.titulo" title="$:record.titulo" class="thumb_publication" /><h2><a href="/$:tipo_publicacao/$:record.slug" title="Link para a publicação $:record.titulo completa.">$:record.titulo</a></h2>
                <span class="autoring_data">Data: $:record.data_hora.strftime('%d/%m/%Y - %H:%M')</span><span class="autoring_autor">Por: $:record.autor</span><span class="autoring_autor"><a href="http://www.equineclinic.com.br/$:tipo_publicacao/$:record.slug/#disqus_thread">Comentários</a>.</span>
                $:record.intro 
                $if titulo != 'Boletins':
                    <a href="/$:tipo_publicacao/$:record.slug" class="link_publicacao" title="Link para a publicação $:record.titulo completa.">[ Ler mais ]</a>
                
        $else:
            <p>Sem registros.</p>
    </div>
    <div id="panel_records">
    $if publicacoes.prev_page:
        <a href="/$publicacoes.classe_name?page=$publicacoes.prev_page&size=$publicacoes.pagesize&q=$publicacoes.query" title="Página Anterior."><img src="/static/images/back.png" alt="Página Anterior." title="Página Anterior." /></a>

    $if not publicacoes.prev_page and not publicacoes.next_page and publicacoes.total_records > 0:
        <span>Mostrando de 1 à $publicacoes.record_counts registros.</span>
    $elif publicacoes.total_records == 0:
        <span>Sem Registros.</span>
    $else:
        $if (int(publicacoes.pagesize) + int(publicacoes.start)) > int(publicacoes.total_records):
            <span>Mostrando registros de ${int(publicacoes.start) + 1} à ${int(publicacoes.total_records)}.</span>
        $else:
            <span>Mostrando registros de ${int(publicacoes.start) + 1} à ${int(publicacoes.pagesize) + int(publicacoes.start)} no total de $publicacoes.total_records registros.</span>

    $if publicacoes.next_page:
        <a href="/$publicacoes.classe_name?page=$publicacoes.next_page&size=$publicacoes.pagesize&q=$publicacoes.query" title="Próxima Página."><img src="/static/images/forward.png" alt="Próxima Página." title="Próxima Página." /></a>
    </div>
</div>
<div style="float: right; display: inline; width: 275px; text-align: center; margin-bottom: 15px;">
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/noticias1.jpg" alt="Noticias." /> 
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/noticias2.jpg" alt="Noticias." /> 
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/noticias3.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/acomenda1.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/acomenda2.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/acomenda3.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/atividades1.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/atividades2.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/atividades3.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/dicas1.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/dicas2.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/dicas3.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/historico1.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/historico2.jpg" alt="Noticias." />
    <img style="margin-bottom: 10px;" title="Noticias." src="../../../static/images/historico3.jpg" alt="Noticias." />
    
    
</div>
