h2 {
    font-size: 18px;
}
footer {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px;
    display: table;
    vertical-align: bottom;
    position: absolute;
}
img.circulos {
    width: 140px;
    height: 140px;
}
