$def with (_vars)
<h1><img src="$:_vars['img_url']" class="icon_menu" />$:_vars['titulo']</h1>
<div class="painel_form">
    <span class="show_message">$:_vars['display_message']</span>
    <h2><span class="titulo">Dados do Registro</span></h2>
    <form action="$_vars['action']" method="$_vars['method']" name="operation_form" id="operation_form">
        $:_vars['form'].render()
    </form>
    <div class="painel">
        <h2 class="margin05px"><span class="titulo">Listagem de Fotos/Videos</span></h2>
        <p id="painel_new_record"><span class="button"><a href="/admin/inserir/ImovelRecurso/$:_vars['imovel_id']">Incluir Foto/Video</a></span></p>
        <table CELLSPACING="0" cellpadding="0" id="list">
            <thead>
                <tr>
                    <th style="text-align:left;padding-left: 10px;">ID</th>
                    <th style="text-align:left;padding-left: 10px;">Imóvel</th>
                    <th style="text-align:left;padding-left: 10px;">Recurso</th>
                    <th style="text-align:left;padding-left: 10px;">Tipo</th>
                    <th style="text-align:left;padding-left: 10px;">Descrição</th>
                    <th style="text-align:left;padding-left: 10px;">Operação</th>
                </tr>
            </thead>
            <tbody>
                $for recurso in _vars['recursos']:
                <tr>
                    <td>$recurso.id</td>
                    <td>$:recurso.codigo</td>
                    <td>$:recurso.recurso</td>
                    <td>$:recurso.tipo</td>
                    <td>$:recurso.descricao</td>
                    <td>
                        <a href="/admin/editar/ImovelRecurso/$recurso.id"><img src="/static/images/accept_page.png" alt="Alterar Registro" border="0" title="Alterar Registro" /></a>
                        <a href="/admin/excluir/ImovelRecurso/$recurso.id/$recurso.imovel" onclick="return confirm('Deseja Realmente excluir o registro: $recurso.id ?');"><img src="/static/images/delete.png" alt="Excluir Registro" border="0" title="Excluir Registro" /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
$if _vars['access_control']:
    <div id="explantion_panel">
        <h6>Detalhes:</h6>
        <ul>
            <li><strong>Editando: S</strong> [ Registro sendo editado por outro usuário ]. <strong>N</strong> [ Registro sem edição no momento ].</li>
            <li><strong>Status: W</strong> [ Wait - Aguardando Aprovação ]. <strong>A</strong> [ Alteração/Inclusão Aprovada ]. <strong>R</strong> [ Alteração/Inclusão Reprovada ].</li>
            <li><strong>Moderação:</strong> Código da rotina da Aprovação, quando em branco registro não foi moderado ainda.</li>
        </ul>
    </div>
<script language="javascript" type="text/javascript">
    function setMode(mode){
        document.operation_form.operation.value=mode;
        if (mode == 'delete'){ if (confirm('Deseja Realmente excluir o registro ?')) { return true; } else { return false; } } else { return true; }
    }
</script>
