$def with (request_vars)
<h1><img src="$request_vars['img_url']" class="icon_menu" />$:request_vars['titulo']</h1>
<div class="painel_form">
    <span class="show_message">$:request_vars['display_message']</span>
    <h2><span class="titulo">Dados do Registro</span></h2>
    <form action="$request_vars['action']" method="$request_vars['method']" name="operation_form" id="operation_form">
        $:request_vars['form'].render()
    </form>
</div>
<style type="text/css">
    div.menuBar { display: none; }
    #copyrightMessage { display: none; }
</style>
