* { margin: 0px; padding: 0px; font-family: 'arial'; }
img { border: none; border: 0px; }
#page { height: 100%; margin:0px auto; width: 100%; }
#top_panel { height: 350px; width: 100%; background: #000 url(/static/images/header.jpg) repeat-x top left; background-size: 1280px 500px; }
#top { height: 350px; margin: 0px auto; width: 1000px; background-color: rgba(255, 255, 255, 0.2); }
#top_panel #top #img_logotipo { margin-left:30px; margin-top: 15px; }
#top #header_message { background-color: red; color: white; font-weight: bold; height: 30px; width: 270px; float: right; text-align: center; margin-top: 0px; margin-right: 0px; padding-top: 10px;}
#message_product { width: 1000px; height: 20px; margin:0px auto; margin-top: -140px; text-align: center; font-weight: bold; font-size: 14px; display: block; padding-top: 10px;}
#message_product span { background-color: #eee; color: red; padding: 5px 3px;}
#products_panel { width: 980px; height: 90px; margin:0px auto; margin-top: 5px; text-align: center;  }
#products_panel img { background-color: #fff; padding: 3px; border: 01px solid #eee; }
#menu_panel { height: 35px; width: 100%; background: #D70000 url(/static/images/menu_bkg.png) top left repeat-x; border-bottom: 01px solid #333; border-top: 01px solid #ccc;}
#menu { height: 35px; margin: 0px auto; width: 1000px; }
#menu_list { margin: 0px auto; list-style: none; width:100%; text-align:center; padding-top: 10px;}
#menu_list li { display: inline; padding: 05px; padding-top: 10px; vertical-align: top; }
#menu_list li a { font-weight: normal; color: transparent; text-decoration: none; font-size: 18px; font-family: 'arial black'; }
#menu_list li a img { border: 0px; border: none; vertical-align: top; margin-top: 5px;}
#menu_list li #menu_home { background: url('/static/images/menu_home.png') top left no-repeat; }
#menu_list li #menu_home:hover { background: url('/static/images/menu_home_over.png') middle left no-repeat; }
#menu_list li #menu_empresa { background: url('/static/images/menu_empresa.png') top left no-repeat; }
#menu_list li #menu_empresa:hover { background: url('/static/images/menu_empresa_over.png') middle left no-repeat; }

#middle_panel { height: 100% auto; min-height: 810px; width: 100%; background: white url(/static/images/aguia_prata.png) no-repeat; background-position: 180px 300px; background-size: 50% 60%; display:table;}
#middle { height: 100% auto; min-height: 810px; margin: 0px auto; width: 1000px; background: url(/static/images/middle_bkg.png) top left repeat-x; }
#middle h1.welcome { width: 300px; float: left; font-size: 20px; margin: 10px 0px 5px 60px; }
#middle span.search_field { width: 410px; float: right; font-weight: bold; font-size: 13px; margin: 10px 0px 5px 10px; text-align: right; }
#middle span.search_field button { width: 80px; }
#middle #left { float: left; width: 740px; height: 100%; background-color: none; margin-top: 20px; margin-left: 30px; min-height: 720px; }
#middle #left #content_page { background-color: white; height: 100% auto; padding: 0px 0px 10px 0px; } 
#middle #left #content_page p { font-size: 13px; margin: 30px; text-align: justify; text-indent: 40px; }
#middle #left h1 { width: 100%; background: #333 url(/static/images/title_destaq_bkg.png) top left repeat-x; font-size: 18px; font-weight: bold; color: white; height: 20px; padding: 5px 0px; padding-left: 20px; }
#middle #left h1 span { margin-left: 20px; }
#middle #left #contact_panel { background-color: white; font-size: 12px; float: left; margin-top: 23px; width: 740px; }
#middle #left #contact_panel_left { float: left; width: 363px; }
#middle #left #contact_panel_left #contact_panel_left_body { float: left; width: 324px; }
#middle #left #contact_panel_left #contact_panel_left_body #intro { float: left; margin-left: 12px; width: 324px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_top { float: left; width: 324px; margin-top: 24px; margin-left: 10px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_top span.contato_field { font-weight: bold; float: left; width: 324px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_top img { float: left; margin-left: 169px; margin-top: 6px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_top span.contato_email_field { color: #ff0000; float: left; width: 140px; margin-left: 160px; margin-top: 05px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_bottom { float: left; width: 324px; margin-top: 24px; margin-left: 10px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_bottom span.localizacao_field { font-weight: bold; float: left; width: 324px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_bottom span.endereco_field { float: left; margin-top; 10px; width: 324px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_bottom iframe { margin-top:10px; }
#middle #left #contact_panel_left #contact_panel_left_body #contact_panel_left_body_bottom a.link_mapa { color:#FF0000; text-align:left }
#middle #left #contact_panel_left #contact_panel_left_body div.line { background-color: #dddddd; height: 1px; width: 324px; float: left; margin-top: 3px; }
#middle #left #contact_panel_right { float: left; width: 305px; margin-left: 25px; }
#middle #left #contact_panel_right #contact_panel_right_body { float: left; width: 305px; height: 350px; }
#middle #left #contact_panel_right #contact_panel_right_body span.intro { display:block; float: left; margin-left: 15px; margin-bottom: 10px; width: 297px; }
#middle #left #contact_panel_right #contact_panel_right_body span.nome_field { float: left; width: 297px; margin-top: 5px; margin-left: 15px; }
#middle #left #contact_panel_right #contact_panel_right_body span.fields { float: left; width: 297px; margin-top: 5px; margin-left: 15px; }
#middle #left #contact_panel_right #contact_panel_right_body input.fields { float: left; padding-left: 2px; margin: 2px 0 0 15px; width:297px; }
#middle #left #contact_panel_right #contact_panel_right_body select.fields { float: left; padding-left: 2px; margin: 2px 0 0 15px; width:297px; }
#middle #left #contact_panel_right #contact_panel_right_body textarea { height: 60px; float: left; padding-left: 2px; margin: 2px 0 0 15px; width: 297px; }
#middle #left #contact_panel_right #contact_panel_right_body #btn_enviar { float: left; margin-left: 262px; margin-top: 20px; }
#middle #right { float: right; min-height: 300px; width: 200px; margin-top: 0px;}
#middle #right div.destaqs { background-color: #eee; height: 130px; margin-top: 20px; width: 196px; border: 01px solid #ccc;}
#middle #right div.destaqs p { font-size: 13px; text-indent: 20px; text-align: justify; padding: 10px 20px 0px 20px;}
#middle #right h1, #middle #right h2 { font-size: 15px; font-weight: bold; color: white; text-align: center; background: #333 url(/static/images/title_destaq_bkg.png) top left repeat-x; width: 197px; padding: 5px 0px; height: 20px;} 
#middle #right div.destaqs ul { list-style: none; margin-left: 20px; margin-top: 15px;}
#bottom_panel { height: 310px; width: 100%; background-color: #000; border-top: 01px solid #ccc; margin-top: 20px; padding-bottom: 10px;}
#bottom { height: 290px; margin: 0px auto; width: 1000px; background-color: #000; padding-top: 15px; }
#bottom p { width: 100%; color: white; text-align:center; font-size: 13px; padding-bottom: 05px; }
#bottom #footer_table { width: 100%; margin: 0px auto;color:white;margin-top: 30px;font-size: 12px;text-align:left;}
#bottom #footer_table th, #bottom #footer_table td { padding-left: 02px;}
#bottom #footer_table a { text-decoration: none; color: white; }
#bottom #footer_table a:hover { color: #FFA500; }
