#widget_calendario * { font:bold 13px Arial; }
#widget_calendario { background-color: none;  }
#widget_calendario #calendarPanel { width:205px;}
#widget_calendario span.label { background:#ffffff; color:#000000; font:bold 13px Arial; height:16px; margin-top:0px; text-align:center; width:30px; }
#widget_calendario span.c1 { background:#ffffff; color:#000000; cursor:hand; font:bold 13px Arial; height:16px; margin-top:0px; text-align:center; width:30px; }
#widget_calendario span.c2 { background:#ffffff; color:navy; cursor:hand; font:bold 13px Arial; height:16px; margin-top:0px; text-align:center; width:30px; }
#widget_calendario span.c3 { background:#ffffff; color:#b0b0b0; cursor:hand; font:bold 12px Arial; height:16px; margin-top:0px; text-align:center; width:30px; }
#widget_calendario img.activity_bkg { height:15px; margin:0px 02px; width:15px; }
#widget_calendario #eventsDescriptions { float: left; margin:10px 0px; width: 100%; }
#widget_calendario #events_types { float: left; width: 100%; }
#widget_calendario #events_types h5 { float: left; margin:05px 0px !important; width: 100%; }


