@charset "utf-8";
/* CSS Document of News Container
 * Author: Leandro Severino - ProfessionalIT
 * Created in: 2010-08-20 */
.floatLeft { float: left; margin-right: 10px;}
.floatRight { float: right; }
.clear { clear: both; }
#page-wrap a { outline: none; }
#page-wrap { background: #fff; margin:3px 0px 20px 15px; min-height: 330px; padding: 0px; position: relative; width: 420px; }
#page-wrap ul { list-style: square inside; }
#page-wrap a, #page-wrap a:visited { color: #729dff; text-decoration: none; }
#page-wrap a:hover, #page-wrap a:active { color: white; }
#page-wrap blockquote { border-left: 20px solid #ccc; font-size: 14px; font-family: Georgia, serif; font-style: italic; margin-left: 20px;  margin-top: 10px; padding: 0 20px;}
.slider-wrap { background-color: #fff; border: 03px solid #ccc; left: 0px; position: absolute; top: 0px; width: 419px; text-align: right; *height: 335px;}
.stripViewer .panelContainer .panel ul { margin: 0 15px 0 30px; text-align: left; }
.stripViewer { height: 285px; overflow: hidden; position: relative; width: 419px; margin-bottom: 05px; }
.stripViewer .panelContainer { left: 0; position: relative; top: 0; }
.stripViewer .panelContainer .panel { float: left; height: 100%; position: relative; width: 419px; }
.stripNavL, .stripNavR, .stripNav { display: none; }
.nav-thumb { border: 1px solid black; margin-right: 5px; height:40px; width:60px; }
#movers-row { margin: -43px 0 0 62px; }
#movers-row div { float: left; width: 20%; }
#movers-row div a.cross-link { float: right; }
.photo-meta-data { background: url(../images/transpBlack.png); color: #fff; height: 30px; margin-top: -50px; padding: 10px; position: relative; z-index: 9999; }
.photo-meta-data span { font-size: 13px; }
.cross-link { display: block; margin-top: -18px; position: relative; padding-top: 15px; width: 62px; z-index: 9999; *float:left; *margin-top: 25px;}
.active-thumb { background: transparent url(../images/icon-uparrowsmallwhite.png) top center no-repeat; }
#cross-link-ie { display: block; margin-top: -18px; position: relative; padding-top: 15px; width: 62px; z-index: 9999; *float:left; *margin-top: -14 px;}
